<template>
  <div id="app">
    <link
      rel="stylesheet"
      href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css"
    >
    <PageHeader
      :logoPath="logoPath"
      :ymName="ymName"
    ></PageHeader>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import PageHeader from '@/components/PageHeader.vue';
import Leader from '@/lib/Leader';
import SessionData from '@/lib/SessionData';

@Component({
  components: {
    PageHeader,
  },
})

export default class App extends Vue {
  ymName: string = `${process.env.VUE_APP_YM_NAME}`
  logoPath: string = `${process.env.VUE_APP_LOGO_PATH}`
}
</script>

<style>
html {
  overflow-y: auto;
}

.box {
  border-radius: 2px;
}

.top-buttons:first-child {
  margin-bottom: 20px;
}

.bottom-buttons {
  margin-top: 20px;
}
</style>
