<template>
  <div class="container">
    <section class="section">
      <h1
        class="title"
        v-if="Number(this.accountId) === Number(this.$store.getters.accountID)"
      >Mijn accountgegevens</h1>
      <h1
        class="title"
        v-else
      >Accountgegevens</h1>
      <h2 class="subtitle">{{ formAccount.email }}</h2>
      <AccountDataForm :account="formAccount" />
      <div style="margin-top: 10px;">
        <!-- buttons at the bottom -->
        <b-field grouped>
          <p class="control">
            <button
              class="button is-success"
              @click="save"
            >Opslaan</button>
          </p>
          <p class="control">
            <button
              class="button"
              @click="confirmReset"
            >Aanpassingen ongedaan maken</button>
          </p>
        </b-field>
      </div>
    </section>
    <section class="section">
      <h2 class="subtitle">Dataverzoek</h2>
      <p class="content">Hiermee vraag je alle gegevens op die aan je account gelinkt zijn. Jouw
        data wordt in het JSON-formaat doorgestuurd. Om je data te verwijderen, neem je contact
        op met een administrator.<p>
          <p class="content">
            Dit verzoek bevat je wachtwoord niet, omdat we enkel een cryptografische
            hash ervan bijhouden. Daardoor kan je wachtwoord niet gehackt worden.</p>
          <p class="control content">
            <a
              class="button is-info"
              :href="dataRequestURL()"
            >
              Download alle data gelinkt aan dit account
            </a>
            <a
              class="button is-text"
              :href="privacyPolicyURL"
            >Privacybeleid</a>
          </p>
    </section>
    <section
      class="section"
      v-if="isAdministrator()"
    >
      <h2 class="subtitle">Account verwijderen</h2>
      <p class="content">Als administrator kan je dit account verwijderen. Conform de GDPR ben je
        als administrator verplicht in te gaan op de verzoeken van gebruikers. Dit geldt zowel voor
        ouders als leden.</p>
      <div class="notification is-danger"><strong>Let op!</strong> Dit verwijdert ook alle
        rekeningen, evenementen, enz. die bij dit account horen. Als er onbetaalde rekeningen zijn,
        vergeet deze dan niet te innen.</div>
      <div
        class="notification is-danger"
        v-if="formAccount.accountType == 'parent'"
      ><strong>Let
          op!</strong> Dit verwijdert enkel de ouder. Als de ouder in kwestie ook zijn/haar kinderen
        uit het systeem wilt verwijderen, moet je deze eerst verwijderen.</div>
      <button
        class="button is-danger"
        @click="confirmDelete()"
      >Verwijder account</button>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Account } from '@/lib/UsersPack';
import Permissions from '@/lib/Permissions';

import AccountDataForm from '@/components/AccountDataForm.vue';

import updatePermissions from '@/api/updatePermissionsOfAccount';
import updateEmail from '@/api/updateEmail';
import getAccount from '@/api/getAccount';
import deleteAccount from '@/api/deleteAccount';
import PermissionEnum from '@/lib/PermissionEnum';
import APIUrl from '../APIUrl';

@Component({
  components: {
    AccountDataForm,
  },
})

export default class AccountPage extends Vue {
  @Prop() accountId!: string;

  formAccount: Account = new Account(-1, Permissions.empty(), '', undefined, '');

  isAdministrator(): boolean {
    if (this.formAccount.accountType === 'parent') {
      return this.$store.getters.account.permissions
        .hasPermission(PermissionEnum.ParentAdministrator);
    }
    return this.$store.getters.account.permissions
      .hasPermission(PermissionEnum.LeaderAdministrator);
  }

  async getAccount() : Promise<void> {
    if (this.accountId === this.$store.getters.accountID) {
      const data = this.$store.getters.account;
      if (this.formAccount !== data) {
        this.formAccount = data.deepCopy();
      }
    } else {
      this.formAccount = await getAccount(Number(this.accountId));
    }
  }

  async save() : Promise<void> {
    try {
      await updatePermissions(this.formAccount.permissions, Number(this.formAccount.id));
      if (Number(this.accountId) === this.$store.getters.accountID) {
        this.$store.commit('setAccount', this.formAccount);
      }
    } catch (error) {
      this.$dialog.alert({
        message: 'Er is iets mis gegaan. Probeer later opnieuw.',
        scroll: 'keep',
        type: 'is-danger',
      });
    }
    try {
      await updateEmail(this.formAccount.email, Number(this.formAccount.id));
      if (Number(this.accountId) === this.$store.getters.accountID) {
        this.$store.commit('setAccount', this.formAccount);
      }
    } catch (error) {
      this.$dialog.alert({
        message: 'Er is iets mis gegaan. Probeer later opnieuw.',
        scroll: 'keep',
        type: 'is-danger',
      });
    }
    this.$toast.open({
      message: 'Opgeslagen!',
      type: 'is-success',
      position: 'is-bottom',
    });
  }

  confirmDelete() {
    this.$dialog.confirm({
      message: 'Het verwijderen is onomkeerbaar. Zeker?',
      cancelText: 'Annuleren',
      confirmText: 'Verwijder',
      scroll: 'keep',
      onConfirm: () => this.deleteAccount(),
    });
  }

  async deleteAccount(): Promise<void> {
    await deleteAccount(Number(this.accountId));
    this.$toast.open({
      message: 'Het account is verwijderd',
      type: 'is-success',
      position: 'is-bottom',
    });
    this.$router.push('/home');
  }

  confirmReset() : void {
    this.$dialog.confirm({
      message: 'Zeker dat je dit wilt resetten? Al je niet ' +
                  'opgeslagen aanpassingen worden dan ongedaan gemaakt.',
      cancelText: 'Annuleren',
      confirmText: 'Ok',
      scroll: 'keep',
      onConfirm: () => this.resetForm(),
    });
  }

  resetForm() {
    this.getAccount();
  }

  mounted() {
    this.getAccount();
  }

  updated() {
    if (Number(this.accountId) !== this.formAccount.id) {
      this.getAccount();
    }
  }

  dataRequestURL() {
    return `${APIUrl}/api/account/${this.formAccount.id}/datarequest`;
  }
  privacyPolicyURL = `${process.env.VUE_APP_PRIVACY_POLICY_URL}`;
}

</script>
