<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Evenementen</h1>
      <div
        class="tile is-ancestor"
        v-for="(tilesList, i) in tiles"
        :key="i"
      >
        <Tile
          v-for="tile in tilesList"
          :key="tile.id"
          :tileSize="'is-3'"
          :baseRoute="'event'"
          :tileId="tile.id===-1? '#' : String(tile.id)"
          :title="tile.title"
          :onclick="tile.id===-1? showNewActivityPanel : null"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Tile from '@/components/Tile.vue';
import '@/lib/ArrayExtend';
import Activity from '@/lib/Activity';
import ActivityDetailsModal from '@/components/ActivityDetailsModal.vue';
import { saveNewActivity } from '@/api/activity';
import getActivitiesOfPerson from '@/api/activities';
import PermissionEnum from '@/lib/PermissionEnum';
import Child from '@/lib/Child';

@Component({
  components: {
    Tile,
  },
})

export default class ActivityExplorer extends Vue {
  tiles: Activity[][] = [[]];

  showNewActivityPanel(_: MouseEvent) {
    this.$modal.open({
      parent: this,
      component: ActivityDetailsModal,
      hasModalCard: true,
      props: {
        title: 'Nieuw evenement',
        acceptFunction: saveNewActivity,
        reloadFunction: this.createTiles,
        originalActivity: new Activity(),
      },
    });
  }

  async createTiles(): Promise<void> {
    let apiActivities: Activity[] = [];
    if (this.$store.getters.userIsParent) {
      const children: Child[] =
        this.$store.getters.children;
      const childrensActivities: Activity[][] =
        await Promise.all(children
          .map((c: Child) => getActivitiesOfPerson(String(c.id || 0))));

      apiActivities = childrensActivities
        .reduce((accumActivities: Activity[], newActivities: Activity[]) =>
          accumActivities.concat(newActivities));
      // rm duplicates
      apiActivities = [...new Set(apiActivities)];
    } else {
      apiActivities =
        await getActivitiesOfPerson();
    }
    const activities = this.$store.getters.hasPermission(PermissionEnum.EventAdministrator)
      ? apiActivities.prepend(new Activity(-1, '+ Nieuw evenement'))
      : apiActivities;
    this.tiles = apiActivities.unflatBy(4);
  }

  mounted() {
    this.createTiles();
  }
}
</script>


<style scoped>
</style>
