<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Evenement: {{ activity.title }}</h1>
      <h2 class="subtitle">{{activity.preRegisterDate !== null
        ? `Pr\u{00E9}-registratie tegen: ${DutchPreDate} | `
        : ''}}Begint: {{ DutchStartDate }} | Eindigt: {{ DutchStopDate }}
      </h2>
      <h2 class="subtitle">{{ activity.description }}</h2>
      <div class="columns">
        <aside class="column is-3">
          <div class="box">
            <h2 class="subtitle">Filter</h2>
            <SearchField
              :query="filterQuery"
              :label="'Zoeken'"
              @input="filterUsers"
            />
            <div
              v-if="permissionManageMembers"
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="manageActivityMembers"
              >Uitgenodigden beheren</button>
            </div>
            <div
              v-if="permissionManageActivity"
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="editActivity"
              >Evenement aanpassen</button>
            </div>
            <div
              v-else
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="editActivity"
              >Meer info</button>
            </div>
            <div
              v-if="permissionManageActivity"
              class="field"
            >
              <button
                class="is-danger button is-fullwidth"
                @click="onDelete"
              >Verwijder Evenement</button>
            </div>
          </div>
        </aside>
        <div class="column">
          <UsersTable
            :filteredUsers="filteredMemberList"
            :columns="columns"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Activity from '@/lib/Activity';
import { deleteActivity, getFullActivity, updateActivity } from '@/api/activity';
import PermissionEnum from '@/lib/PermissionEnum';
import { Container, PersonMin } from '@/lib/UsersPack';
import ManageMembersModal from '@/components/ManageMembersModal.vue';
import { addGroupMembersToActivity, deleteMemberFromActivity, postMemberToActivity }
  from '@/api/activityMember';
import getGroupsOfPerson from '@/api/groups';
import SearchField from '@/components/SearchField.vue';
import ActivityDetailsModal from '@/components/ActivityDetailsModal.vue';
import UsersTable from '@/components/UsersTable.vue';
import moment from 'moment';

@Component({
  components: { SearchField, UsersTable },
})

export default class ActivityPage extends Vue {
  activity: Activity = new Activity(-1, '');

  columns = [
    {
      field: 'firstName',
      label: 'Voornaam',
      sortable: true,
    },
    {
      field: 'lastName',
      label: 'Achternaam',
      sortable: true,
    },
  ];

  filteredMemberList: PersonMin[] = [];
  filterQuery: Container<string> = new Container('');

  preRegisterDummy: Date = new Date();

  preRegisterContainer: Container<Date> = new Container(this.preRegisterDummy);
  startContainer: Container<Date> = new Container(this.activity.startDate);
  stopContainer: Container<Date> = new Container(this.activity.stopDate);

  preRegister: boolean = false;

  members: PersonMin[] = [];

  errorText: string = '';
  nActive: boolean = false;

  get DutchPreDate() {
    return moment(this.activity.preRegisterDate!).locale('nl-be').format('ll');
  }
  get DutchStartDate() {
    return moment(this.activity.startDate).locale('nl-be').format('ll');
  }
  get DutchStopDate() {
    return moment(this.activity.stopDate).locale('nl-be').format('ll');
  }

  get notifText() {
    return this.errorText;
  }

  get notifActive() {
    return this.nActive;
  }

  get permissionManageActivity(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.EventAdministrator);
  }

  get permissionManageMembers(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.Grouper)
      || this.members.some(m => m.id === this.$store.getters.personID);
  }

  set notifActive(param: boolean) {
    this.nActive = param;
  }

  onPreRegisterUpdate() {
    if (!this.preRegister) {
      this.activity.preRegisterDate = null;
    } else {
      this.activity.preRegisterDate = this.preRegisterDummy;
    }
  }

  onPreRegisterDateUpdate() {
    this.activity.preRegisterDate = this.preRegisterContainer.v;
    this.preRegisterDummy = this.preRegisterContainer.v;
  }

  onStartDateUpdate() {
    this.activity.startDate = this.startContainer.v;
  }

  onStopDateUpdate() {
    this.activity.stopDate = this.stopContainer.v;
  }

  filterUsers() : void {
    const wantedName = this.filterQuery.v;

    this.filteredMemberList =
      this.members
      // Case-insensitive and locale-insensitive (á == a) filtering of name.
        .filter(person =>
          person.firstName.insensitiveIncludes(wantedName)
          || person.lastName.insensitiveIncludes(wantedName));
  }

  async manageActivityMembers(_: Event): Promise<void> {
    this.$modal.open({
      parent: this,
      component: ManageMembersModal,
      hasModalCard: true,
      props: {
        title: 'Leden van evenement beheren',
        originalMembers: this.members,
        reloadFunction: this.getActivityFromApi,
        deleteMemberFn: deleteMemberFromActivity,
        addMemberFn: postMemberToActivity,
        addableGroupings: [[
          'Groepen',
          await getGroupsOfPerson(),
          addGroupMembersToActivity,
        ]],
      },
    });
  }

  async editActivity(_: Event): Promise<void> {
    this.$modal.open({
      parent: this,
      component: ActivityDetailsModal,
      hasModalCard: true,
      props: {
        title: 'Evenement aanpassen',
        acceptFunction: updateActivity,
        reloadFunction: this.getActivityFromApi,
        originalActivity: this.activity,
      },
    });
  }

  async onDelete(_: Event): Promise<void> {
    this.$dialog.confirm({
      message: `Zeker dat je het evenement ${this.activity.title} wilt verwijderen?`,
      cancelText: 'Annuleren',
      confirmText: 'Ja',
      scroll: 'keep',
      onConfirm: async () => {
        const message = await deleteActivity(this.activity.id)
          ? 'Het evenement is verwijderd.'
          : 'Het verwijderen van het evenement is gefaald.';
        this.$dialog.alert({
          message,
          scroll: 'keep',
        });
        this.$router.push('/events');
      },
    });
  }

  preRegisterCorrect(): boolean {
    if (!this.preRegister) {
      this.activity.preRegisterDate = null;
    } else if (this.preRegister && this.activity.preRegisterDate === null) {
      this.errorText = 'Er is geen pré-registratie datum gekozen';
      this.nActive = true;
      return false;
    } else if (this.activity.preRegisterDate != null &&
      this.activity.preRegisterDate.valueOf() > this.activity.startDate.valueOf()) {
      this.errorText = 'De pré-registratie kan niet na het begin zijn.';
      this.nActive = true;
      return false;
    }
    return true;
  }

  async getActivityFromApi(): Promise<void> {
    const { activity, members } = await getFullActivity(this.$route.params.id)
      || { activity: new Activity(-1, ''), members: [] };
    this.activity = activity;
    this.members = members;
    this.preRegister = this.activity.preRegisterDate !== null;
    this.filteredMemberList = members;
  }

  mounted() {
    this.getActivityFromApi();
  }
}
</script>

<style scoped>
</style>
