<template>
  <div class="container">
    <section class="section">
      <h1 class="title">Kind toevoegen</h1>
      <p>Indien uw kind al geregistreerd is: <br/>
        Vul hieronder de registratie-code in die u ontvangen hebt van een leider.</p>
      <b-field label="Registratie-code">
        <b-input
          v-model="registrationCode"
          placeholder="xxxx-xxxx-xxxx-xxxx"
          maxlength="19"
          @input="checkIfCorrectFormat"
        ></b-input>
      </b-field>

      <b-notification
        class="is-success"
        :active.sync="succesMessage"
      >Je kind werd succesvol toegevoegd aan je account.</b-notification>
      <b-notification
        class="is-danger"
        :active.sync="failedMessage"
      >
        Er ging iets mis! Controleer of de registratie-code klopt en probeer daarna opnieuw.
      </b-notification>
      <button
        class="button is-primary"
        @click="addChild"
        :disabled="!correctFormat"
      >Toevoegen</button>
      <br/>
      <br/>
      <p>Indien uw kind nog niet geregistreerd is:<br/></p>
      <button
          type="button"
          class="button is-info"
          @click="onCreateChild"
      >Registreer uw kind</button>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import addChildToParentByRegistrationCode from '@/api/addChildToParentByRegistrationCode';
import getChildren from '@/api/getChildren';

@Component
export default class AddChildPage extends Vue {
  registrationCode: string = '';
  succesMessage: boolean = false;
  failedMessage: boolean = false;

  correctFormat: boolean = false;

  checkIfCorrectFormat(): void {
    this.registrationCode = this.registrationCode.trim().toLowerCase();

    this.correctFormat = /^(([a-z0-9]{4}-){3}[a-z0-9]{4})$/.test(this.registrationCode);
  }

  async addChild(): Promise<void> {
    // start loading screen:
    const loadingAnimation = this.$loading.open({ container: null });

    // send request:
    await addChildToParentByRegistrationCode(this.registrationCode)
      .then((response) => {
        loadingAnimation.close();
        if (response) {
          this.succesMessage = true;
        } else {
          this.failedMessage = true;
        }
      });
    this.$store.commit('setChildren', await getChildren(this.$store.getters.accountID));
  }

  onCreateChild() {
    this.$router.push('register/child');
  }
}

</script>
