<template>
  <div class="container">
    <section class="section">
      <!-- Top row of buttons -->
      <b-field class="top-buttons" grouped>
        <p class="control">
          <button class="button is-small" @click="$router.back()">Terug</button>
        </p>
        <p class="control">
          <button
          class="button is-success is-small"
          @click="openNewBillModal()">
            Nieuwe rekening
          </button>
        </p>
      </b-field>
      <h1 class="title">Overzicht van alle rekeningen</h1>
      <div class="columns">
        <div class="column is-4">
          <b-collapse
            class="card"
            v-for="group in listOfGroupsWithMembers"
            :key="group.group.id"
            :open="false"
          >
            <div slot="trigger" slot-scope="props" class="card-header">
              <p class="card-header-title">
                {{ group.group.title }}
              </p>
              <a class="card-header-icon">
                <b-icon
                  :icon="props.open ? 'menu-down' : 'menu-up'">
                </b-icon>
              </a>
            </div>
            <div class="card-content">
              <div
                :to="'/bills/' + member.id"
                v-for="member in group.members"
                :key="member.id"
              >
                <button
                  class="button"
                  size="is-medium"
                  style="margin-bottom:3px!important"
                  v-on:click="showDetails(member)"
                >
                  {{ member.firstName }} {{ member.lastName }}
                </button><br/>
              </div>
            </div>
          </b-collapse>
        </div>
        <div class="column is-8">
          <div class="panel" v-if="!viewIsVisible">
            <div class="panel-heading">
              Alle rekeningen
            </div>
            <div class="panel-block">
              <b-table
                :data="listOfBills"
                @update:selected="billClicked"
                style="width: 100%"
                :hoverable="true">

                <template slot-scope="props">
                    <b-table-column field="description" label="Beschrijving">
                      {{ props.row.description }}
                    </b-table-column>
                    <b-table-column field="amount" label="Bedrag" width="100" numeric>
                      € {{ props.row.amount }}
                    </b-table-column>
                </template>

                <template slot="empty">
                  <section class="section">
                    <div class="content has-text-grey has-text-centered">
                      <p>
                        <b-icon
                        icon="emoticon-happy"
                        size="is-large">
                        </b-icon>
                      </p>
                      <p>Er zijn geen rekeningen</p>
                    </div>
                  </section>
                </template>
              </b-table>
            </div>
          </div>
          <div class="panel" v-if="viewIsVisible">
            <div class="panel-heading">
              Rekeningen van {{ currentMemberName }}
              <a
                class="button is-outlined is-pulled-right is-small"
                v-on:click="viewIsVisible=false"
              >
                <b-icon icon="close"></b-icon>
              </a>
            </div>
            <div class="panel-block">
              <BillOverviewPage :idContainer="currentlyShownDetails">
              </BillOverviewPage>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import getBills from '@/api/getBills';
import getAllBills from '@/api/getAllBills';

import BillOverview from '@/components/BillOverview.vue';
import BillOverviewOnePerson from '@/components/BillOverviewOnePerson.vue';
import BillOverviewPage from '@/views/BillOverviewPage.vue';
import { Gender, PersonMin, Container } from '@/lib/UsersPack';
import Person from '@/lib/Person';
import Child from '@/lib/Child';
import Bill from '@/lib/Bill';
import Group from '@/lib/Grouping';
import getGroupsOfPerson from '@/api/groups';
import { getFullGroup } from '@/api/group';

import EditBillModal from '@/components/EditBillModal.vue';
import saveNewBill from '@/api/saveNewBill';

@Component({
  components: {
    BillOverview,
    BillOverviewOnePerson,
    BillOverviewPage,
    EditBillModal,
  },
})
export default class AllBillsPage extends Vue {
  // Vars if leader is logged in
  listOfBills: Bill[] = [];
  listOfGroups: Group[] = [];
  listOfGroupsWithMembers : {
    group: Group,
    members: PersonMin[]
  }[] = []

  viewIsVisible = false;
  currentlyShownDetails = new Container(0);
  currentMemberName = '';

  showDetails(member: Person) {
    if (this.viewIsVisible && Number(this.currentlyShownDetails.v) === Number(member.id)) {
      this.viewIsVisible = false;
      return;
    }

    this.viewIsVisible = false;
    this.currentlyShownDetails.v = member.id;
    this.currentMemberName = `${member.firstName} ${member.lastName}`;
    this.viewIsVisible = true;
  }

  async initBills(): Promise<void> {
    this.listOfBills = await getAllBills();
  }

  async loadGroups(): Promise<void> {
    this.listOfGroups = await getGroupsOfPerson();
  }

  async mounted(): Promise<void> {
    await this.initBills();
    await this.loadGroups();

    const promises: Promise<{
    group: Group;
    members: PersonMin[];
    } | null>[] = [];

    for (let i = 0; i < this.listOfGroups.length; i += 1) {
      promises.push(getFullGroup(String(this.listOfGroups[i].id)));
    }
    const res = await Promise.all(promises);
    this.listOfGroupsWithMembers = res.filter(group => group !== null)as {
      group: Group, members: PersonMin[]
    }[];
  }

  billClicked(bill: Bill) {
    this.$router.push(`/bill/${bill.id}`);
  }

  async openNewBillModal(): Promise<void> {
    const newBill: Bill = new Bill();

    const thisPointer = this;
    async function onConfirm(parent: any): Promise<void> {
      const newId: number = await saveNewBill(newBill);
      parent.close();
      thisPointer.$router.push(`/bill/${newId}`);
    }

    // opening modal
    this.$modal.open({
      parent: this,
      component: EditBillModal,
      hasModalCard: true,
      props: { title: 'Rekening aanmaken', bill: newBill, onConfirm },
    });
  }
}
</script>
