<template>
  <div class="container">
    <section class="section">
      <!-- Top row with option buttons -->
      <b-field class="top-buttons" grouped group-multiline>
        <!-- New report button -->
        <p class="control">
          <button class="button is-small" @click="$router.back();">Terug</button>
        </p>
        <p class="control" v-if="isFinancial">
          <button class="button is-small is-link" @click="openModal()">Bewerken</button>
        </p>
        <p class="control" v-if="isFinancial">
          <button class="button is-small is-danger" @click="deleteBillConfirm()">
            Verwijderen
            <b-loading
            :is-full-page="false"
            :active="loadingButtons.indexOf('delete') > -1"
            :can-cancel="false">
            </b-loading>
          </button>
        </p>
      </b-field>
      <!-- Error messages -->
      <b-notification type="is-danger" has-icon :active.sync="errorDeleteVisible">
        Oeps! Er is iets mis gelopen. We konden deze rekening momenteel niet verwijderen.
        Probeer later opnieuw.
      </b-notification>
      <b-notification type="is-danger" has-icon :active.sync="errorDeleteBilledVisible">
        Oeps! Er is iets mis gelopen. We konden deze persoon niet verwijderen uit de lijst
        met personen die aan deze rekening gelinkt zijn.
      </b-notification>
      <b-notification type="is-danger" has-icon :active.sync="errorAddBilledVisible">
        Oeps! Er is iets mis gelopen. We konden geen nieuwe personen toevoegen aan deze rekening.
      </b-notification>
      <b-notification type="is-danger" has-icon :active.sync="errorStandardVisible">
        Oeps! Er is iets mis gelopen. Probeer later opnieuw.
      </b-notification>
      <div class="box">
      <!-- Title -->
      <h1 class="title">{{ bill.description }}</h1>
      <p id="madeOn">Aangemaakt op {{ bill.creationDateString }}</p>
      <h2 id="amount">€ {{ bill.amount }}</h2>
      </div>
      <!-- Billed information -->
      <div v-if="isFinancial">
        <h1 class="title">Betalers</h1>
        <!-- not payed users -->
        <div class="box notPayed" v-for="person in unPaidPersons" :key="person.id">
          <div class="columns">
            <div class="column">
              {{ person.firstName }} {{ person.lastName }}
            </div>
            <div class="column">
              <b-field grouped position="is-right">
                <p class="control">
                  <button class="button is-small" @click="paidClicked(person.id, true)">
                    <!--<font-awesome-icon icon="check"/>-->
                    &nbsp;bevestig betaling
                  </button>
                </p>
                <p class="control">
                  <button class="button is-small is-danger" @click="deleteBilledClicked(person.id)">
                    <!--<font-awesome-icon icon="trash-alt" />-->
                    &nbsp;verwijder
                  </button>
                </p>
              </b-field>
            </div>
          </div>
        </div>
        <!-- paid users -->
        <div class="box payed" v-for="person in paidPersons" :key="person.id">
          <div class="columns">
            <div class="column">
              {{ person.firstName }} {{ person.lastName }}
            </div>
            <div class="column">
              <b-field grouped position="is-right">
                <p class="control">
                  <button class="button is-small" @click="paidClicked(person.id, false)">
                    <!--<font-awesome-icon icon="times"/>-->
                    &nbsp;ongedaan maken
                  </button>
                </p>
                <p class="control">
                  <button class="button is-small is-danger" @click="deleteBilledClicked(person.id)">
                    <!--<font-awesome-icon icon="trash-alt" />-->
                    &nbsp;verwijder
                  </button>
                </p>
              </b-field>
            </div>
          </div>
        </div>
        <!-- Message to show when no-one is billed for this bill -->
        <div v-if="paidPersons.length === 0 && unPaidPersons.length === 0">
          <p>
            Er wordt momenteel niemand gelinkt aan deze rekening, het is daarom misschien een
            goed idee om deze rekening te verwijderen?
          </p>
        </div>
        <!-- add billed btn -->
        <b-field class="bottom-buttons">
          <p class="control">
            <button class="button is-small" @click="addBilledModalHandler()">toevoegen</button>
          </p>
        </b-field >
      </div>
    </section>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Bill from '@/lib/Bill';
import Person from '@/lib/Person';
import EditBillModal from '@/components/EditBillModal.vue';
import ManageMembersModal from '@/components/ManageMembersModal.vue';

import getBill from '@/api/getBill';
import deleteBill from '@/api/deleteBill';
import PermissionEnum from '@/lib/PermissionEnum';
import getBilled from '@/api/getBilled';
import deleteBilled from '@/api/deleteBilled';
import addBilled from '@/api/addBilled';
import editBilled from '@/api/editBilled';
import saveBill from '@/api/saveBill';
import getAllPersons from '@/api/persons';
import { PersonMin } from '@/lib/UsersPack';


@Component({
  components: {
    EditBillModal,
  },
})
export default class BillPage extends Vue {
  // gui data
  bill: Bill = new Bill(0, 'Title', 0, new Date());
  editedBill: Bill = this.bill;
  paidPersons: Person[] = [];
  unPaidPersons: Person[] = [];

  editBillModal = undefined;

  // loading states
  loadingButtons: string[] = [];

  // error states
  errorDeleteVisible: boolean = false;
  errorDeleteBilledVisible: boolean = false;
  errorAddBilledVisible: boolean = false;
  errorStandardVisible: boolean = false;

  // Permissions
  isFinancial: boolean = this.$store.getters.hasPermission(PermissionEnum.Financial);

  openModal() : void {
    this.editedBill = Bill.deepCopy(this.bill);
    this.editBillModal = this.$modal.open({
      parent: this,
      component: EditBillModal,
      hasModalCard: true,
      props: { title: 'Rekening bewerken', bill: this.editedBill, onConfirm: this.saveNewBill },
    });
  }

  /**
   * @throws when could not save
   */
  async saveNewBill(parent: any): Promise<void> {
    await saveBill(this.editedBill);
    this.bill = this.editedBill;
    parent.close();
  }

  async deleteBillConfirm(): Promise<void> {
    this.$dialog.confirm({
      title: 'Rekening verwijderen',
      message: 'Zeker dat je deze rekening wilt verwijderen? Dit kan niet ongedaan gemaakt worden.',
      confirmText: 'Rekening verwijderen',
      type: 'is-danger',
      hasIcon: true,
      onConfirm: () => this.deleteBillClicked(),
    });
  }

  async deleteBillClicked(): Promise<void> {
    this.loadingButtons.push('delete');
    try {
      await deleteBill(Number(this.$route.params.id));
      this.$router.back();
    } catch (e) {
      this.errorDeleteVisible = true;
    } finally {
      this.loadingButtons = [];
    }
  }

  async deleteBilledClicked(personId: number): Promise<void> {
    this.loadingButtons.push(`delete person ${personId}`);
    try {
      await deleteBilled(this.bill.id!, personId);
      await this.initPersons();
    } catch (e) {
      this.errorDeleteBilledVisible = true;
    } finally {
      this.loadingButtons = [];
    }
  }

  async paidClicked(personId: number, paid: boolean): Promise<void> {
    this.loadingButtons.push(`set paid ${personId}`);
    try {
      await editBilled(this.bill.id!, personId, paid);
      await this.initPersons();
    } catch (e) {
      this.errorStandardVisible = true;
    } finally {
      this.loadingButtons = [];
    }
  }

  async addBilledModalHandler(): Promise<void> {
    const allPersons: PersonMin[] = (await getAllPersons())!.persons;
    this.$modal.open({
      parent: this,
      component: ManageMembersModal,
      hasModalCard: true,
      props: {
        title: 'Betalers beheren',
        originalMembers: this.paidPersons.concat(this.unPaidPersons),
        reloadFunction: () => { this.initPersons(); },
        deleteMemberFn: this.removeUnmarkedAsBilled,
        addMemberFn: this.addNewMarkedAsBilled,
        addableGroupings: [],
      },
    });
  }


  async addNewMarkedAsBilled(personId: number, groupingId: number): Promise<boolean> {
    if (this.bill.id === undefined) {
      this.errorStandardVisible = true;
      return false;
    }
    try {
      await addBilled(this.bill.id, [personId]);
      return true;
    } catch (e) {
      this.errorAddBilledVisible = true;
      return false;
    }
  }


  async removeUnmarkedAsBilled(personId: number, groupingId: number): Promise<boolean> {
    if (this.bill.id === undefined) {
      this.errorStandardVisible = true;
      return false;
    }
    try {
      await deleteBilled(this.bill.id, personId);
      return true;
    } catch (e) {
      this.errorDeleteBilledVisible = true;
      return false;
    }
  }


  async mounted(): Promise<void> {
    const loadingIcon = this.$loading.open({ container: null });
    const promises: Promise<void>[] = [];
    try {
      promises.push(this.initBill());
      if (this.isFinancial) {
        promises.push(this.initPersons());
      }
      await Promise.all(promises);
    } catch (e) {
      this.$dialog.alert('Er liep iets mis. Probeer later opnieuw');
      this.$router.go(-1);
    } finally {
      loadingIcon.close();
    }
  }

  async initBill(): Promise<void> {
    try {
      this.bill = await getBill(Number(this.$route.params.id));
    } catch (e) {
      throw (e);
    }
  }

  async initPersons(): Promise<void> {
    const promises: {paid: Person[], unpaid: Person[]} =
      await getBilled(Number(this.$route.params.id));

    this.paidPersons = promises.paid;
    this.unPaidPersons = promises.unpaid;
  }
}
</script>

<style scoped>
  #madeOn {
    margin-top: -20px;
    font-style: italic;
    color: gray;
    font-size: 0.8em;
  }

  #amount {
    margin: 10px auto;
    font-size: 2em;
  }

  .notPayed, .payed {
    margin: 0px;
  }

  .notPayed {
    background-color: #ffe5dd;
  }

  .payed {
    background-color: #e5ffff;
  }
</style>
