<template>
  <div class="container">
    <section class="section">
      <b-tabs v-model="activeTab">
        <!-- Unpaid bills - parent -->
        <b-tab-item label="openstaand" v-if="$store.getters.userIsParent">
          <BillOverview :persons="childrenAndUnpaidBills"></BillOverview>
          <div class="has-text-right" style="margin-top: 20px;">
            <div>
              <p>Totaal bedrag:</p>
              <h1 class="title">€ {{ this.sumOfBills }}</h1>
            </div>
          </div>
        </b-tab-item>
        <!-- Paid bills - parent -->
        <b-tab-item label="betaald" v-if="$store.getters.userIsParent">
          <BillOverview :persons="childrenAndPaidBills"></BillOverview>
        </b-tab-item>
        <!-- Unpaid bills - leader -->
        <b-tab-item label="openstaand" v-if="$store.getters.userIsLeader">
          <BillOverviewOnePerson :data="leaderUnpaidBills"></BillOverviewOnePerson>
          <div class="has-text-right" style="margin-top: 20px;">
            <div>
              <p>Totaal bedrag:</p>
              <h1 class="title">€ {{ this.sumOfBills }}</h1>
            </div>
          </div>
        </b-tab-item>
        <!-- Paid bills - leader -->
                <b-tab-item label="betaald" v-if="$store.getters.userIsLeader">
          <BillOverviewOnePerson :data="leaderPaidBills"></BillOverviewOnePerson>
        </b-tab-item>
      </b-tabs>
    </section>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

import getBills from '@/api/getBills';

import BillOverview from '@/components/BillOverview.vue';
import BillOverviewOnePerson from '@/components/BillOverviewOnePerson.vue';
import { Gender, Container } from '@/lib/UsersPack';
import Person from '@/lib/Person';
import Child from '@/lib/Child';
import Bill from '@/lib/Bill';

@Component({
  components: {
    BillOverview,
    BillOverviewOnePerson,
  },
})
export default class BillOverviewPage extends Vue {
  @Prop() public idContainer!: Container<number>;

  activeTab: number = 0;

  // Vars if parent is logged in
  childrenAndUnpaidBills: Child[] = this.$store.getters.children;
  childrenAndPaidBills: Child[] = [];
  sumOfBills: number = 0;

  // Vars if leader is logged in
  leaderPaidBills: Bill[] = [];
  leaderUnpaidBills: Bill[] = [];

  calcTotalSumOfChildrenBills(): number {
    let sumOfBills: number = 0;
    this.childrenAndUnpaidBills.forEach((child) => {
      sumOfBills += Bill.sum(child.bills);
    });
    return sumOfBills;
  }

  calcTotalSumOfBills(): number {
    let sumOfBills: number = 0;
    this.leaderUnpaidBills.forEach((bill) => {
      sumOfBills += Number(bill.amount);
    });
    return sumOfBills;
  }

  async initChildren(): Promise<void> {
    // deepcopy children And paid bills
    this.childrenAndPaidBills = this.childrenAndUnpaidBills.map(child => Child.deepCopy(child));

    const unpaidBillsPromises: Promise<Bill[]>[] = [];
    const paidBillsPromises: Promise<Bill[]>[] = [];

    this.childrenAndUnpaidBills.forEach((child) => {
      unpaidBillsPromises.push(getBills(child.getId(), false));
    });

    this.childrenAndPaidBills.forEach((child) => {
      paidBillsPromises.push(getBills(child.getId(), true));
    });

    const unpaidBills: Bill[][] = await Promise.all(unpaidBillsPromises);
    const paidBills: Bill[][] = await Promise.all(paidBillsPromises);

    for (let i = 0; i < this.childrenAndUnpaidBills.length; i += 1) {
      this.childrenAndUnpaidBills[i].setBills(unpaidBills[i]);
      this.childrenAndPaidBills[i].setBills(paidBills[i]);
    }
  }

  async initBills(): Promise<void> {
    this.leaderUnpaidBills = await getBills(this.idContainer.v!, false);
    this.leaderPaidBills = await getBills(this.idContainer.v!, true);
  }

  async updateData() {
    if (this.idContainer === undefined) {
      if (this.$store.getters.userIsParent) {
        this.idContainer = new Container(1);
      } else {
        this.idContainer = new Container(Number(this.$route.params.id));
      }
    }
    // if user is parent
    if (this.$store.getters.userIsParent) {
      await this.initChildren();
      this.sumOfBills = await this.calcTotalSumOfChildrenBills();
    } else {
      await this.initBills();
      this.sumOfBills = await this.calcTotalSumOfBills();
    }
  }

  async mounted(): Promise<void> {
    await this.updateData();
  }

  @Watch('idContainer.v')
  async changed() {
    await this.updateData();
  }
}
</script>
