<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Afvinklijst: {{ checklist.title }}</h1>
      <h2 class="subtitle">{{ checklist.description }}</h2>
      <div class="columns">
        <aside class="column is-3">
          <div class="box">
            <h2 class="subtitle">Filter</h2>
            <SearchField
              :query="filterQuery"
              :label="'Zoeken'"
              @input="filterUsers"
            />
            <div
              v-if="permissionManageMembers"
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="manageChecklistMembers"
              >Leden beheren</button>
            </div>
            <div
              v-if="permissionManageChecklist"
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="editChecklist"
              >Afvinklijst aanpassen</button>
            </div>
            <div
              v-if="permissionManageChecklist"
              class="field"
            >
              <button
                class="is-danger button is-fullwidth"
                @click="deleteChecklist"
              >Verwijder afvinklijst</button>
            </div>
          </div>
        </aside>
        <div class="column">
          <b-table
            checkable
            :data="filteredMemberList"
            :columns="columns"
            :hoverable="true"
            :checked-rows.sync="checkedMembers"
            :is-row-checkable="(_) => leaderInChecklist"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SearchField from '@/components/SearchField.vue';
import UsersTable from '@/components/UsersTable.vue';
import { Container, PersonMin, Group } from '@/lib/UsersPack';
import Checklist from '@/lib/Checklist';
import '@/lib/StringExtend';
import PermissionEnum from '@/lib/PermissionEnum';
import { getFullChecklist, deleteChecklist, updateChecklist } from '@/api/checklist';
import GroupingDetailsModal from '@/components/GroupingDetailsModal.vue';
import ManageMembersModal from '@/components/ManageMembersModal.vue';
import '@/lib/ArrayExtend';
import {
  addGroupMembersToChecklist,
  addActivityMembersToChecklist,
  deleteMemberFromChecklist,
  postMemberToChecklist,
  checkMemberOnChecklist,
} from '@/api/checklistMember';
import getGroupsOfPerson from '@/api/groups';
import getActivitiesOfPerson from '@/api/activities';

const CHECKLIST_REFRESH_MS = 5000;

@Component({
  components: {
    SearchField,
    UsersTable,
  },
})

export default class ChecklistPage extends Vue {
  columns = [
    {
      field: 'firstName',
      label: 'Voornaam',
      sortable: true,
    },
    {
      field: 'lastName',
      label: 'Achternaam',
      sortable: true,
    },
  ];

  checklist: Checklist = new Checklist(-1, '');
  members: PersonMin[] = [];
  checkedMembers: PersonMin[] = [];
  originalCheckedMembers: PersonMin[] = [];
  filteredMemberList: PersonMin[] = [];
  filterQuery: Container<string> = new Container('');

  filterUsers() : void {
    const wantedName = this.filterQuery.v;

    this.filteredMemberList =
      this.members
        // Case-insensitive and locale-insensitive (a-accent == a) filtering of name.
        .filter(person =>
          person.firstName.insensitiveIncludes(wantedName)
          || person.lastName.insensitiveIncludes(wantedName));
  }

  async manageChecklistMembers(_: Event): Promise<void> {
    this.$modal.open({
      parent: this,
      component: ManageMembersModal,
      hasModalCard: true,
      props: {
        title: 'Leden van afvinklijst beheren',
        originalMembers: this.members,
        reloadFunction: this.getChecklistFromApi,
        deleteMemberFn: deleteMemberFromChecklist,
        addMemberFn: postMemberToChecklist,
        addableGroupings: [
          [
            'Groepen',
            await getGroupsOfPerson(),
            addGroupMembersToChecklist,
          ],
          [
            'Evenementen',
            await getActivitiesOfPerson(),
            addActivityMembersToChecklist,
          ],
        ],
      },
    });
  }

  async editChecklist(_: Event): Promise<void> {
    this.$modal.open({
      parent: this,
      component: GroupingDetailsModal,
      hasModalCard: true,
      props: {
        title: 'Afvinklijst aanpassen',
        errorText:
          'Informatie kon niet aangepast worden. Probeer later opnieuw.',
        acceptFunction: updateChecklist,
        reloadFunction: this.getChecklistFromApi,
        originalGrouping: this.checklist,
      },
    });
  }

  async deleteChecklist(_: Event): Promise<void> {
    this.$dialog.confirm({
      message: `Zeker dat je de afvinklijst ${this.checklist.title} wilt verwijderen?`,
      cancelText: 'Annuleren',
      confirmText: 'Ja',
      scroll: 'keep',
      onConfirm: async () => {
        const message = await deleteChecklist(this.$route.params.id)
          ? 'De afvinklijst is verwijderd.'
          : 'Het verwijderen van de afvinklijst is gefaald.';
        this.$dialog.alert({
          message,
          scroll: 'keep',
        });
        this.$router.push('/checklists');
      },
    });
  }

  get permissionManageMembers(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.Checklister)
      || this.members.some(m => m.id === this.$store.getters.personID);
  }

  get permissionManageChecklist(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.Checklister);
  }

  get leaderInChecklist(): boolean {
    return this.permissionManageChecklist
      || this.members.map(p => p.id).includes(this.$store.getters.personID);
  }

  async updateCheckedList(): Promise<void> {
    const deleted = this.originalCheckedMembers.leftDiff(this.checkedMembers);
    const added = this.checkedMembers.leftDiff(this.originalCheckedMembers);
    const cId = this.$route.params.id ? Number(this.$route.params.id) : 0;

    await Promise.all(deleted
      .map(p => checkMemberOnChecklist(p.id, cId, false))
      .concat(added
        .map(p => checkMemberOnChecklist(p.id, cId, true))));
  }

  async getChecklistFromApi(): Promise<boolean> {
    // Prevent auto-update to keep running after navigating to another view.
    if (this.$route.name === 'checklist') {
      const { checklist, members, checkedMembers } =
      await getFullChecklist(this.$route.params.id)
       || { checklist: new Checklist(-1, ''), members: [], checkedMembers: [] };
      this.checklist = checklist;
      this.members = members;
      this.filteredMemberList = members;
      this.checkedMembers = checkedMembers;
      this.originalCheckedMembers = checkedMembers;

      return true;
    }
    return false;
  }

  async timedAutoUpdate(): Promise<void> {
    await this.updateCheckedList();
    const updateSuccess = await this.getChecklistFromApi();

    // This sets a timer which will call a function after
    // a set number of milliseconds.
    if (updateSuccess) {
      setTimeout(this.timedAutoUpdate, CHECKLIST_REFRESH_MS);
    }
  }

  mounted() {
    this.timedAutoUpdate();
  }

  destroyed() {
    this.updateCheckedList();
  }
}
</script>

<style scoped>
</style>
