<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Afvinklijsten</h1>
      <div
        class="tile is-ancestor"
        v-for="(tilesList, i) in tiles"
        :key="i"
      >
        <Tile
          v-for="tile in tilesList"
          :key="tile.id"
          :tileSize="'is-3'"
          :baseRoute="'checklist'"
          :tileId="tile.id===-1? '#' : String(tile.id)"
          :title="tile.title"
          :onclick="tile.id===-1? showNewChecklistPanel : null"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ModalProgrammatic } from 'buefy';
import Tile from '@/components/Tile.vue';
import '@/lib/ArrayExtend';
import GroupingDetailsModal from '@/components/GroupingDetailsModal.vue';
import getChecklistsOfPerson from '@/api/checklists';
import Checklist from '@/lib/Checklist';
import PermissionEnum from '@/lib/PermissionEnum';
import { postNewChecklist } from '@/api/checklist';
import Child from '@/lib/Child';

@Component({
  components: {
    Tile,
  },
})

export default class ChecklistExplorer extends Vue {
  tiles: Checklist[][] = [[]];

  showNewChecklistPanel(_: MouseEvent) {
    this.$modal.open({
      parent: this,
      component: GroupingDetailsModal,
      hasModalCard: true,
      props: {
        title: 'Nieuwe afvinklijst',
        errorText: 'Afvinklijst kon niet aangemaakt worden. Probeer later opnieuw.',
        acceptFunction: postNewChecklist,
        reloadFunction: this.createTiles,
        originalGrouping: new Checklist(-1, ''),
      },
    });
  }

  async createTiles(): Promise<void> {
    let apiChecklists: Checklist[] = [];
    if (this.$store.getters.userIsParent) {
      const children: Child[] =
        this.$store.getters.children;
      const childrensChecklists: Checklist[][] =
        await Promise.all(children
          .map((c: Child) => getChecklistsOfPerson(String(c.id || 0))));

      apiChecklists = childrensChecklists
        .reduce((accumChecklists: Checklist[], newChecklists: Checklist[]) =>
          accumChecklists.concat(newChecklists));
      // rm duplicates
      apiChecklists = [...new Set(apiChecklists)];
    } else {
      apiChecklists =
        await getChecklistsOfPerson();
    }
    const checklists = this.$store.getters.hasPermission(PermissionEnum.Checklister)
      ? apiChecklists.prepend(new Checklist(-1, '+ Nieuwe afvinklijst'))
      : apiChecklists;
    this.tiles = checklists.unflatBy(4);
  }

  mounted() {
    this.createTiles();
  }
}
</script>


<style scoped>
</style>
