<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Groep: {{ group.title }}</h1>
      <h2 class="subtitle">{{ group.description }}</h2>
      <div class="columns">
        <aside class="column is-3">
          <div class="box">
            <h2 class="subtitle">Filter</h2>
            <SearchField
              :query="filterQuery"
              :label="'Zoeken'"
              @input="filterUsers"
            />
            <div
              v-if="permissionManageMembers"
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="manageGroupMembers"
              >Leden beheren</button>
            </div>
            <div
              v-if="permissionManageGroup"
              class="field"
            >
              <button
                class="is-info button is-fullwidth"
                @click="editGroup"
              >Groep aanpassen</button>
            </div>
            <div
              v-if="permissionManageGroup"
              class="field"
            >
              <button
                class="is-danger button is-fullwidth"
                @click="deleteGroup"
              >Verwijder groep</button>
            </div>
          </div>
        </aside>
        <div class="column">
          <UsersTable
            :filteredUsers="filteredMemberList"
            :columns="columns"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SearchField from '@/components/SearchField.vue';
import UsersTable from '@/components/UsersTable.vue';
import { Container, Group, PersonMin } from '@/lib/UsersPack';
import '@/lib/StringExtend';
import PermissionEnum from '@/lib/PermissionEnum';
import { getFullGroup, deleteGroup, updateGroup } from '@/api/group';
import GroupingDetailsModal from '@/components/GroupingDetailsModal.vue';
import ManageMembersModal from '@/components/ManageMembersModal.vue';
import { deleteMemberFromGroup, postMemberToGroup } from '@/api/groupMember';

@Component({
  components: {
    SearchField,
    UsersTable,
  },
})

export default class GroupPage extends Vue {
  columns = [
    {
      field: 'firstName',
      label: 'Voornaam',
      sortable: true,
    },
    {
      field: 'lastName',
      label: 'Achternaam',
      sortable: true,
    },
  ];

  group: Group = new Group(-1, '');
  members: PersonMin[] = [];
  filteredMemberList: PersonMin[] = [];
  filterQuery: Container<string> = new Container('');

  filterUsers() : void {
    const wantedName = this.filterQuery.v;

    this.filteredMemberList =
      this.members
        // Case-insensitive and locale-insensitive (á == a) filtering of name.
        .filter(person =>
          person.firstName.insensitiveIncludes(wantedName)
          || person.lastName.insensitiveIncludes(wantedName));
  }

  async manageGroupMembers(_: Event): Promise<void> {
    this.$modal.open({
      parent: this,
      component: ManageMembersModal,
      hasModalCard: true,
      props: {
        title: 'Groepsleden beheren',
        originalMembers: this.members,
        reloadFunction: this.getGroupFromApi,
        deleteMemberFn: deleteMemberFromGroup,
        addMemberFn: postMemberToGroup,
        addableGroupings: [],
      },
    });
  }

  async editGroup(_: Event): Promise<void> {
    this.$modal.open({
      parent: this,
      component: GroupingDetailsModal,
      hasModalCard: true,
      props: {
        title: 'Groep aanpassen',
        errorText:
          'Informatie kon niet aangepast worden. Probeer later opnieuw.',
        acceptFunction: updateGroup,
        reloadFunction: this.getGroupFromApi,
        originalGrouping: this.group,
      },
    });
  }

  async deleteGroup(_: Event): Promise<void> {
    this.$dialog.confirm({
      message: `Zeker dat je de groep ${this.group.title} wilt verwijderen?`,
      cancelText: 'Annuleren',
      confirmText: 'Ja',
      scroll: 'keep',
      onConfirm: async () => {
        const message = await deleteGroup(this.$route.params.id)
          ? 'De groep is verwijderd.'
          : 'Het verwijderen van de groep is gefaald.';
        this.$dialog.alert({
          message,
          scroll: 'keep',
        });
        this.$router.push('/groups');
      },
    });
  }

  get permissionManageMembers(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.Grouper)
      || this.members.some(m => m.id === this.$store.getters.personID);
  }

  get permissionManageGroup(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.Grouper);
  }

  async getGroupFromApi(): Promise<void> {
    const { group, members } =
      await getFullGroup(this.$route.params.id)
       || { group: new Group(-1, ''), members: [] };
    this.group = group;
    this.members = members;
    this.filteredMemberList = members;
  }

  mounted() {
    this.getGroupFromApi();
  }
}
</script>

<style scoped>
</style>
