<template>
  <div class="section">
    <div class="container">
      <h1 class="title">Groepen</h1>
      <div
        class="tile is-ancestor"
        v-for="(tilesList, i) in tiles"
        :key="i"
      >
        <Tile
          v-for="tile in tilesList"
          :key="tile.id"
          :tileSize="'is-3'"
          :baseRoute="'group'"
          :tileId="tile.id === -1? '#' : String(tile.id)"
          :title="tile.title"
          :onclick="tile.id === -1? showNewGroupPanel : null"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ModalProgrammatic } from 'buefy';
import Tile from '@/components/Tile.vue';
import '@/lib/ArrayExtend';
import GroupingDetailsModal from '@/components/GroupingDetailsModal.vue';
import getGroupsOfPerson from '@/api/groups';
import { Group } from '@/lib/UsersPack';
import PermissionEnum from '@/lib/PermissionEnum';
import { postNewGroup } from '@/api/group';
import Child from '@/lib/Child';

@Component({
  components: {
    Tile,
  },
})

export default class GroupExplorer extends Vue {
  tiles: Group[][] = [[]];

  showNewGroupPanel(_: MouseEvent) {
    this.$modal.open({
      parent: this,
      component: GroupingDetailsModal,
      hasModalCard: true,
      props: {
        title: 'Nieuwe groep',
        errorText: 'Groep kon niet aangemaakt worden. Probeer later opnieuw.',
        acceptFunction: postNewGroup,
        reloadFunction: this.createTiles,
        originalGrouping: new Group(-1, ''),
      },
    });
  }

  async createTiles(): Promise<void> {
    let apiGroups: Group[] = [];
    if (this.$store.getters.userIsParent) {
      const children: Child[] =
        this.$store.getters.children;
      const childrensGroups: Group[][] =
        await Promise.all(children
          .map((c: Child) => getGroupsOfPerson(String(c.id || 0))));

      apiGroups = childrensGroups
        .reduce((accumGroups: Group[], newGroups: Group[]) =>
          accumGroups.concat(newGroups));
      // rm duplicates
      apiGroups = [...new Set(apiGroups)];
    } else {
      apiGroups =
        await getGroupsOfPerson();
    }
    const groups = this.$store.getters.hasPermission(PermissionEnum.Grouper)
      ? apiGroups.prepend(new Group(-1, '+ Nieuwe groep'))
      : apiGroups;
    this.tiles = groups.unflatBy(4);
  }

  mounted() {
    this.createTiles();
  }
}
</script>


<style scoped>
</style>
