<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">Welkom</h1>
      <h2 class="subtitle">Meest gebruikte acties</h2>
      <div class="columns" v-if="!this.userIsParent">
        <div class="column is-4">
          <router-link class="button is-large is-block" to="/users">
            Leden
          </router-link>
        </div>
        <div class="column is-8">
          <p class="content">Bekijk alle leden die je kan bekijken</p>
        </div>
      </div>
      <div class="columns" v-if="this.userIsParent">
        <div class="column is-4">
          <router-link class="button is-large is-block" to="/parents">
            Mijn kinderen
          </router-link>
        </div>
        <div class="column is-8">
          <p class="content">Bekijk je kinderen</p>
        </div>
      </div>

      <div class="columns" v-if="this.userIsParent">
        <div class="column is-4">
          <router-link class="button is-large is-block" to="/parents">
            Kind toevoegen
          </router-link>
        </div>
        <div class="column is-8">
          <p class="content">
            Gebruik een registratiecode om een kind aan je account toe te voegen
          </p>
        </div>
      </div>

      <div class="columns" v-if="this.parentAdmin">
        <div class="column is-4">
          <router-link class="button is-large is-block" to="/parents">
            Ouders
          </router-link>
        </div>
        <div class="column is-8">
          <p class="content">Bekijk en beheer ouders die geregistreerd zijn op deze applicatie</p>
        </div>
      </div>

      <div class="columns" v-if="!this.userIsParent">
        <div class="column is-4">
          <router-link class="button is-large is-block" :to="`/person/${$store.getters.personID}`">
            Mijn gegevens
          </router-link>
        </div>
        <div class="column is-8">
          <p class="content">Bekijk de gegevens gelinkt aan je account</p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4">
          <router-link
            class="button is-large is-block"
            :to="`/account/${$store.getters.accountID}`">
          Mijn account
        </router-link>
        </div>
        <div class="column is-8">
          <p class="content">Beheer je account</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

export default class Home extends Vue {
  userIsParent: boolean = this.$store.getters.userIsParent;
  parentAdmin: boolean = this.$store.getters.userIsParentAdmin;
}
</script>

<style scoped>
</style>
