<template>
  <section class="hero">
    <div class="hero-body">
      <div
        class="container"
        id="LoginFormContainer"
      >
        <LoginForm :ymName="ymName" />
      </div>
    </div>
  </section>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

import LoginForm from '@/components/LoginForm.vue'; // @ is an alias to /src
import { Prop } from 'vue-property-decorator';
import SessionData from '@/lib/SessionData';

@Component({
  components: {
    LoginForm,
  },
})

export default class Login extends Vue {
  ymName: string = `${process.env.VUE_APP_YM_NAME}`

  mounted() {
    if (this.$store.getters.isLoggedIn) {
      this.$router.push('/home');
    }
  }
}
</script>

<style scoped>
#LoginFormContainer {
  max-width: 500px;
  margin-top: 10px;
}
</style>
