<template>
  <section class="hero is-danger is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          404
        </h1>
        <h2 class="subtitle">
          Deze pagina werd niet gevonden
        </h2>
        <router-link to="/" class="button is-info">Naar startpagina</router-link>
      </div>
    </div>
  </section>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class Page404 extends Vue {

}
</script>
