<template>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <div class="box">
            <h2 class="subtitle">Filter</h2>
            <SearchField
              :query="filterQuery"
              :label="'Zoeken'"
              @input="applyFilter"
            />
          </div>
        </div>
        <div class="column">
          <h1 class="title">Ouders</h1>
          <b-table
            :data="filteredMemberList"
            :columns="columns"
            :hoverable="true"
            @update:selected="memberClicked"
          ></b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

import SearchField from '@/components/SearchField.vue';
import UserFilter from '@/components/UserFilter.vue';
import UsersTable from '@/components/UsersTable.vue';
import { Container, AccountMin, Group } from '@/lib/UsersPack';
import getAllParents from '@/api/getAllParents';
import '@/lib/StringExtend';

@Component({
  components: {
    SearchField,
    UserFilter,
    UsersTable,
  },
})


export default class Parents extends Vue {
  filterQuery: Container<string> = new Container('');

  fullMemberList: AccountMin[] = [];
  filteredMemberList: AccountMin[] = [];

  amountOfMembers: number = 0;

  columns = [
    {
      field: 'email',
      label: 'E-mail',
      sortable: true,
    },
  ];

  async getAccountsFromApi(): Promise<void> {
    const { totalAmount, parents } =
      await getAllParents()
       || { totalAmount: 0, parents: [] };
    this.amountOfMembers = totalAmount;
    this.fullMemberList = parents;
    this.filteredMemberList = this.filterParents();
  }

  memberClicked(account: AccountMin) {
    this.$router.push(`/account/${account.id}/`);
  }

  applyFilter() {
    this.filteredMemberList = this.filterParents();
  }

  // Filter function to filter the users by the selected filter.
  filterParents() {
    const filterEmail = this.filterQuery.v;

    if (filterEmail !== '') {
      return this.fullMemberList
        .filter(account => account.email.insensitiveIncludes(filterEmail));
    }
    return this.fullMemberList;
  }

  mounted() {
    this.getAccountsFromApi();
  }
}
</script>
