<template>
  <div class="container">
    <section class="section">
      <h1
        class="title"
        v-if="Number(this.$route.params.id) === Number(this.$store.getters.personID)"
      >Mijn profiel</h1>
      <h1
        class="title"
        v-else
      >Profiel</h1>
      <PersonDataForm
        :person="formUserData"
        :fullEdit="isChildrenAdministrator"
        :minorEdit="!isLeader || isChildrenAdministrator"
      />
      <br>
      <!-- buttons at the bottom -->
      <b-field
        grouped
        group-multiline
      >
        <p class="control">
          <button
            class="button is-success"
            @click="save"
          >Opslaan</button>
        </p>
        <p class="control">
          <button
            class="button"
            @click="confirmReset"
          >Aanpassingen ongedaan maken</button>
        </p>
        <p
          class="control"
          v-if="isFinancial"
        >
          <button
            class="button"
            @click="$router.push(`/bills/${userId}`)"
          >
            Bekijk rekeningen
          </button>
        </p>
        <!-- TODO: make this button mobile friendly -->
        <p
          class="control"
          v-if="isAdministrator() && this.userData.type === 'child'"
        >
          <button
            v-if="!userIsParent"
            class="button is-black"
            @click="confirmGenerateRegistrationCode"
          >Genereer registratiecode</button>
        </p>
         <p
          class="control"
          v-if="isAdministrator() && this.userData.type !== 'child'"
        >
          <button
            class="button"
            @click="goToAccount"
          >Bekijk account</button>
        </p>
      </b-field>
    </section>
    <div
      class="section"
      v-if="this.userData.type === 'child'"
    >
      <h2 class="subtitle">Dataverzoek</h2>
      <p class="content">Een dataverzoek verzamelt alle data die het systeem over dit kind heeft in
        een door een computer leesbaar formaat. Om gegevens te verwijderen, neem je contact op met
        de administrator.
      </p>
      <p class="control content">
        <a
          class="button is-info"
          :href="dataRequestURL"
        >
          Download alle data gelinkt aan dit account
        </a>
      </p>
    </div>
    <section
      class="section"
      v-if="isAdministrator()"
    >
      <h2 class="subtitle">Persoon verwijderen</h2>
      <p class="content">Als administrator kan je deze persoon verwijderen. Conform de GDPR ben je
        als administrator verplicht in te gaan op de verzoeken van gebruikers. Dit geldt zowel voor
        kinderen als leden.</p>
      <div class="notification is-danger"><strong>Let op!</strong> Dit verwijdert ook alle
        rekeningen, evenementen, enz. die bij dit account horen. Als er onbetaalde rekeningen zijn,
        vergeet deze dan niet te innen.</div>

      <button
        class="button is-danger"
        @click="confirmDelete()"
      >Verwijder account</button>
    </section>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Group } from '@/lib/UsersPack';
import { deleteMemberFromGroup, postMemberToGroup } from '@/api/groupMember';
import Person from '@/lib/Person';
import getGroupsOfPerson from '@/api/groups';
import PersonDataForm from '@/components/PersonDataForm.vue';
import generateRegistrationCode from '@/api/generateRegistrationCode';
import getPerson from '@/api/getPerson';
import deletePerson from '@/api/deletePerson';
import updatePerson from '@/api/updatePerson';
import '@/lib/ArrayExtend';
import PermissionEnum from '@/lib/PermissionEnum';
import translatePersonToAccountId from '@/api/translatePersonToAccountId';
import APIUrl from '../APIUrl';


@Component({
  components: {
    PersonDataForm,
  },
})

export default class PersonPage extends Vue {
  userData: Person = new Person();
  formUserData:Person = new Person();

  userId: number = 0;
  isChildrenAdministrator: boolean =
    this.$store.getters.hasPermission(PermissionEnum.ChildrenAdministrator);
  isLeader: boolean = this.$store.getters.userIsLeader;
  isFinancial: boolean = this.$store.getters.hasPermission(PermissionEnum.Financial);

  isAdministrator(): boolean {
    if (this.userData.type === 'child') {
      return this.$store.getters.account.permissions
        .hasPermission(PermissionEnum.ChildrenAdministrator);
    }
    return this.$store.getters.account.permissions
      .hasPermission(PermissionEnum.LeaderAdministrator);
  }

  confirmDelete() {
    this.$dialog.confirm({
      message: 'Het verwijderen is onomkeerbaar. Zeker?',
      cancelText: 'Annuleren',
      confirmText: 'Verwijder',
      scroll: 'keep',
      onConfirm: () => this.deletePerson(),
    });
  }

  async deletePerson(): Promise<void> {
    try {
      await deletePerson(this.userData.id!);
      this.$toast.open({
        message: 'De persoon is verwijderd.',
        type: 'is-success',
        position: 'is-bottom',
      });
      this.$router.push('/home');
    } catch (_) {
      this.$toast.open({
        message: 'De persoon kon niet verwijderd worden.',
        type: 'is-danger',
        position: 'is-bottom',
      });
    }
  }

  async updateUserData() : Promise<void> {
    this.userId = Number(this.$route.params.id);
    try {
      const [person, groups] = await Promise.all([
        getPerson(Number(this.$route.params.id)),
        getGroupsOfPerson(this.$route.params.id),
      ]);
      person!.addGroups(groups);
      this.formUserData = person!;
      this.userData = Person.deepCopy(this.formUserData);
    } catch (_) {
      this.$dialog.alert({
        title: 'Oeps!',
        message: `De opgevraagde gegevens konden niet worden ingeladen.
          Misschien is de server offline, of heb je niet de rechten deze gegevens te bekijken.`,
        type: 'is-danger',
      });
      this.$router.push('/');
    }
  }

  resetForm(): void {
    this.formUserData = Person.deepCopy(this.userData);
  }

  confirmReset(): void {
    this.$dialog.confirm({
      message: 'Zeker dat je dit wilt resetten? Al je niet ' +
                  'opgeslagen aanpassingen worden dan ongedaan gemaakt.',
      cancelText: 'Annuleren',
      confirmText: 'Ok',
      scroll: 'keep',
      onConfirm: () => this.resetForm(),
    });
  }

  confirmGenerateRegistrationCode() : void {
    this.$dialog.confirm({
      message: 'Zeker dat je een registratiecode wilt genereren?',
      cancelText: 'Annuleren',
      confirmText: 'Ja',
      scroll: 'keep',
      onConfirm: () => this.generateAndShowRegistrationCode(),
    });
  }

  get userIsParent(): boolean {
    return this.$store.getters.userIsParent;
  }

  async save(): Promise<void> {
    const updatedCorrectly: boolean = await updatePerson(this.formUserData);
    if (!updatedCorrectly) {
      this.showErrorMessage('Persoonsgegevens konden momenteel niet worden opgeslagen. Probeer later opnieuw.');
      return;
    }

    const oldGroups: Group[] = this.userData.groups || [];
    const newGroups: Group[] = this.formUserData.groups || [];
    const oldGroupsIds: number[] = oldGroups.map(group => group.id);
    const newGroupsIds: number[] = newGroups.map(group => group.id);

    const added: number[] = newGroupsIds.leftDiff(oldGroupsIds);
    const removed: number[] = oldGroupsIds.leftDiff(newGroupsIds);

    const addedPromises: Promise<boolean>[] = [];
    const removedPromises: Promise<boolean>[] = [];

    added.forEach(groupId => addedPromises.push(postMemberToGroup(this.userData.getId(), groupId)));
    removed.forEach(groupId =>
      removedPromises.push(deleteMemberFromGroup(this.userData.getId(), groupId)));

    const addedResults: boolean[] = await Promise.all(addedPromises);
    const removedResults: boolean[] = await Promise.all(removedPromises);

    let allCorrect: boolean = true;

    const correct: boolean[] = addedResults.concat(removedResults);
    correct.forEach((wasCorrect) => {
      if (!wasCorrect) {
        allCorrect = false;
      }
    });

    if (!allCorrect) {
      this.showErrorMessage('Persoonsgegevens konden momenteel niet correct worden opgeslagen. Probeer later opnieuw.');
      return;
    }

    this.$toast.open({
      duration: 3000,
      message: 'Opgeslagen',
      position: 'is-bottom',
      type: 'is-success',
    });

    this.userData = Person.deepCopy(this.formUserData);
  }

  async generateAndShowRegistrationCode() : Promise<void> {
    const registrationCode: string|null =
      await generateRegistrationCode(Number(this.$route.params.id));

    // Check if returnvalue is invalid
    if (registrationCode === null) {
      this.$dialog.alert({
        title: 'Error',
        message: 'Sorry, maar er is iets mis gegaan. Probeer later opnieuw.',
      });
    }

    // Show registration Code
    this.$dialog.alert({
      title: 'Registratie code',
      message: `<center><b>${registrationCode}</b></center>`,
    });
  }

  showErrorMessage(message: string): void {
    this.$toast.open({
      duration: 5000,
      message,
      position: 'is-bottom',
      type: 'is-danger',
    });
  }

  async goToAccount(): Promise<void> {
    try {
      const accId: number = await translatePersonToAccountId(this.userData.id);
      this.$router.push(`/account/${accId}`);
    } catch (e) {
      // TODO: error handling
    }
  }

  mounted() {
    this.updateUserData();
    this.dataRequestURL =
      `${APIUrl}/api/person/${this.$route.params.id}/datarequest`;
  }

  dataRequestURL = `${APIUrl}/api/person/${this.userData.id}/datarequest`;

  @Watch('$route')
  routeChanged(oldRoute: any, newRoute: any) {
    this.updateUserData();
    this.dataRequestURL =
      `${APIUrl}/api/person/${this.$route.params.id}/datarequest`;
  }
}
</script>
