<template>
  <div class="container">
    <section class="section">
      <h1 class="title">Registreer een nieuwe leider</h1>
      <div class="columns">
        <!-- account details section -->
        <div class="column is-4">
          <div class="box">
            <div>
              <h2 class="subtitle">Accountgegevens</h2>
              <b-field
                label="E-mail">
                <b-input
                  type="email"
                  placeholder="jan.janssen@example.com"
                  v-model="email.v"
                  @input="onInput">
                </b-input>
              </b-field>
              <NewPasswordFields :password="password" @input="onInput"/>
              <PermissionEditor :permissions="permissionsContainer"/>
            </div>
          </div>
        </div>
        <!-- Person details section -->
        <div class="column is-8">
          <div class="box">
            <PersonDataForm :person="person" @input="onInput" :fullEdit="true" :minorEdit="true" />
          </div>
          <!-- register button -->
          <div class="control">
            <button
              class="button is-primary"
              :disabled="necessaryFilledIn === false"
              @click="registerLeader"
            >Registreren</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Person from '@/lib/Person';
import Leader from '@/lib/Leader';
import register from '@/api/registerLeader';
import { Container, Account } from '@/lib/UsersPack';
import Permissions from '@/lib/Permissions';

import AccountDataForm from '@/components/AccountDataForm.vue';
import NewPasswordFields from '@/components/NewPasswordFields.vue';
import PersonDataForm from '@/components/PersonDataForm.vue';
import PermissionEditor from '@/components/PermissionEditor.vue';
import Exception from '@/lib/Exception';
import PermissionEnum from '@/lib/PermissionEnum';
import Address from '@/lib/Address';

@Component({
  components: {
    PersonDataForm,
    NewPasswordFields,
    PermissionEditor,
  },
})
export default class RegisterLeaderPage extends Vue {
  email: Container<string> = new Container('');
  password: Container<string> = new Container('');

  person: Person = new Person();
  permissionsContainer = new Container(Permissions.empty());

  necessaryFilledIn: boolean = false;

  onInput(): void {
    this.necessaryFilledIn = this.password.v !== '' && this.email.v !== ''
      && this.person.firstName !== '' && this.person.lastName !== '' && this.person.gender !== null
      && this.person.placeOfBirth !== '' && this.person.dateOfBirth !== null;
  }

  registerLeader(): void {
    const loadingComponent = this.$loading.open({ container: null });

    const account: Account = new Account(
      -1,
      this.permissionsContainer.v,
      this.email.v,
      this.password.v,
    );

    const leader = Leader.fromPersonAndAccount(this.person, account);

    register(leader)
      .then((response) => {
        loadingComponent.close();
        if (response.valid) {
          this.$dialog.alert({
            message: `${this.person.firstName} ${
              this.person.lastName
            } werd succesvol toegevoegd.`,
            onConfirm: () => this.$router.push(`/person/${response.perId}`),
          });
        } else {
          this.$dialog.alert('Er is iets mis gegaan. Probeer later opnieuw');
        }
      })
      .catch((exception: Exception) => {
        loadingComponent.close();
        this.$dialog.alert(`Er is iets misgegaan.<br>${exception.message}`);
      });
  }

  mounted(): void {
    this.person.dateOfBirth = new Date(2000, 0, 1);
    this.person.address = new Address();
  }
}
</script>
