<template>
  <div class="container">
    <section class="section">
      <h1 class="title">Nieuw kind registreren</h1>
      <PersonDataForm :person="person" :fullEdit="true" :minorEdit="true" />
      <p
        class="control"
        style="margin-top: 20px;"
      >
        <button
          class="button is-primary"
          @click="confirmNewUser"
        >Registreren</button>
      </p>
    </section>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PersonDataForm from '@/components/PersonDataForm.vue';
import Child from '@/lib/Child';
import Person from '@/lib/Person';
import registerChild from '@/api/registerChild';
import { postMemberToGroup } from '@/api/groupMember';
import Address from '@/lib/Address';
import postParentChildRelation from '@/api/parentChildRelation';
import getChildren from '@/api/getChildren';

@Component({
  components: {
    PersonDataForm,
  },
})

export default class RegisterChildPage extends Vue {
  child:Child = new Child();
  person:Person = this.child as Person;

  confirmNewUser() : void {
    this.$dialog.confirm({
      message: 'Zeker dat je dit nieuw kind wilt registreren?',
      cancelText: 'Annuleren',
      confirmText: 'Registreren',
      onConfirm: () => this.registerNewUser(),
    });
  }

  async registerNewUser() : Promise<void> {
    const loadingComponent = this.$loading.open({ container: null });

    try {
      if (this.$store.getters.userIsParent) {
        const registerSuccess = await registerChild(this.child);
        const relationSucces =
          await postParentChildRelation(this.$store.getters.accountID, registerSuccess.id);

        if (relationSucces) {
          this.$store.commit('setChildren', await getChildren(this.$store.getters.accountID));
          loadingComponent.close();
          this.$dialog.alert({
            message: `${this.child.firstName} ${this.child.lastName} werd succesvol toegevoegd aan de database.`,
            onConfirm: () => this.$router.push(`/person/${registerSuccess.id}`),
          });
        }
      } else {
        const registerSuccess = await registerChild(this.child);
        if (this.person.groups !== undefined) {
          const groupsAddedSuccess =
            await Promise.all(this
              .person
              .groups
              .map(group => postMemberToGroup(registerSuccess.id, group.id)));
        }

        loadingComponent.close();
        this.$dialog.alert({
          message: `${this.child.firstName} ${this.child.lastName} werd succesvol toegevoegd aan de database.`,
          onConfirm: () => this.$router.push(`/person/${registerSuccess.id}`),
        });
      }
    } catch (_) {
      loadingComponent.close();
      this.$dialog.alert('Er is iets mis gegaan.');
    }
  }

  mounted(): void {
    this.person.dateOfBirth = new Date(2000, 0, 1);
    this.person.address = new Address();
  }
}
</script>
