<template>
  <div class="container">
    <section class="section">
      <div>
        <b-field
          class="top-buttons"
          grouped
        >
          <!-- New report button -->
          <p
            class="control"
            v-if="writeReports"
          >
            <router-link
              class="control"
              to="/report/edit"
            >
              <button class="button is-success is-small">Nieuw verslag</button>
            </router-link>
          </p>
        </b-field>
      </div>
      <b-notification type="is-danger" has-icon :active.sync="errorConnectionVisible">
        Oeps! Er is iets mis gelopen. De verslagen konden niet worden opgehaald van de server.
         Controlleer of je nog een verbinding hebt, en of je het recht hebt deze verslagen te
         bekijken. Probeer de pagina te herladen, of later terug te komen.
      </b-notification>
      <div class="columns">
        <!-- Filter -->
        <div class="column is-3-desktop is-4-tablet">
          <ReportsFilter
            :nameQuery="nameQuery"
            :fromDate="searchFromDate"
            :toDate="searchToDate"
            @input="filterReports"
          >
          </ReportsFilter>
        </div>
        <!-- Table with users -->
        <div class="column is-full-height">
          <ReportsTable :reports="reportsFiltered"></ReportsTable>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ReportsFilter from '@/components/ReportsFilter.vue';
import ReportsTable from '@/components/ReportsTable.vue';
import { ReportMin } from '@/lib/Report';
import { Container } from '@/lib/UsersPack';
import getAllReports from '@/api/getAllReports';
import PermissionEnum from '@/lib/PermissionEnum';
import '@/lib/StringExtend';

@Component({
  components: {
    ReportsFilter,
    ReportsTable,
  },
})
export default class ReportsOverviewPage extends Vue {
  nameQuery: Container<string> = new Container<string>('');
  searchFromDate: Container<Date> = new Container<Date>(new Date(1980, 1, 0));
  searchToDate: Container<Date> = new Container<Date>(new Date());

  reports: ReportMin[] = [];
  reportsFiltered: ReportMin[] = this.reports;

  // Permissions
  writeReports: boolean = this.$store.getters.hasPermission(PermissionEnum.Reporter);

  // Error messages
  errorConnectionVisible: boolean = false;

  filterReports() {
    this.reportsFiltered = [];
    this.reports.forEach((report) => {
      if (report.reportName.insensitiveIncludes(this.nameQuery.v)
        && !(report.date < this.searchFromDate.v
          || report.date > this.searchToDate.v)) {
        this.reportsFiltered.push(report);
      }
    });
  }

  async setReports(): Promise<void> {
    try {
      this.reports = await getAllReports();
      this.reportsFiltered = this.reports;
    } catch (e) {
      this.errorConnectionVisible = true;
    }
  }

  mounted(): void {
    this.setReports();
  }
}
</script>
