<template>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <UserFilter
            :groupNames="groupNames"
            :filterQuery="filterQuery"
            :selectedGroups="selectedGroups"
            @input="filterUsers"
          ></UserFilter>
        </div>
        <div class="column">
          <UsersTable
            title="Leden"
            :filteredUsers="filteredMemberList"
            :columns="columns"
          >
          </UsersTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

import UserFilter from '@/components/UserFilter.vue';
import UsersTable from '@/components/UsersTable.vue';
import { Container, PersonMin, Group } from '@/lib/UsersPack';
import getGroupsOfPerson from '@/api/groups';
import getAllChildren from '@/api/getAllChildren';
import getAllPersons from '@/api/persons';
import '@/lib/StringExtend';

@Component({
  components: {
    UserFilter,
    UsersTable,
  },
})


export default class Users extends Vue {
  filterQuery:Container<string> = new Container('');
  groupNames:string[] = [];

  selectedGroups:Container<string[]> = new Container(Array.from(this.groupNames));

  fullMemberList:PersonMin[] = [];
  filteredMemberList:PersonMin[] = Array.from(this.fullMemberList);

  amountOfMembers:number = 0;

  columns = [
    {
      field: 'firstName',
      label: 'Voornaam',
      sortable: true,
    },
    {
      field: 'lastName',
      label: 'Achternaam',
      sortable: true,
    },
  ];

  // Filter function to filter the users by the selected filter.
  filterUsers() : void {
    const wantedName = this.filterQuery.v;
    const wantedGroups = this.selectedGroups.v;

    this.filteredMemberList =
        this.fullMemberList
          .filter(person =>
            person.firstName!.insensitiveIncludes(wantedName)
            || person.lastName!.insensitiveIncludes(wantedName))
          .filter(person =>
            // Deep comparing objects in JS... No god, please no!
            JSON.stringify(wantedGroups) === JSON.stringify([])
          || person.groups!.some(group => wantedGroups.includes(group.title)));
  }

  async getChildrenFromApi(): Promise<void> {
    const { totalAmount, persons } =
      await getAllPersons()
       || { totalAmount: 0, persons: [] };
    this.amountOfMembers = totalAmount;
    this.fullMemberList = persons;
    this.filteredMemberList = persons;
  }

  async setGroups(): Promise<void> {
    this.groupNames =
      (await getGroupsOfPerson()).map((g: Group) => g.title);
  }

  mounted() {
    this.setGroups();
    this.getChildrenFromApi();
  }
}
</script>

