<template>
  <div class="container">
    <section class="section">
      <!-- Header with options -->
      <div style="margin: 0px 0px 20px 0px;">
        <b-field grouped>
          <p class="control">
            <button
              class="button is-small"
              @click="$router.back()"
            >Terug</button>
          </p>
          <!-- Edit report btn -->
          <p
            class="control"
            v-if="isReporter"
          >
            <button
              class="button is-info is-small"
              @click="$router.push(`/report/edit/${report.id}`)"
            >
              Bewerken
            </button>
          </p>
          <!-- Delete report btn -->
          <p
            class="control"
            v-if="isReporter"
          >
            <button
              class="button is-danger is-small"
              @click="confirmDeleteReport"
            >
              Verwijderen
            </button>
          </p>
        </b-field>
      </div>
      <!-- Title -->
      <h1 class="title">{{ report.reportName }}</h1>
      <p
        align="right"
        style="font-style: italic; font-size: 0.8em; color: gray; width: 100%; margin-top: -20px;"
      >
        Geschreven door:
        <router-link :to="{path: `/person/${report.writtenById}`}">
          {{report.writtenByName}}
        </router-link>
      </p>
      <!-- Content -->
      <ReportViewer :source="report.content"></ReportViewer>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import ReportViewer from '@/components/ReportViewer.vue';

import getReport from '@/api/getReport';
import deleteReport from '@/api/deleteReport';
import { Report } from '@/lib/Report';
import PermissionEnum from '@/lib/PermissionEnum';


@Component({
  components: {
    ReportViewer,
  },
})
export default class ViewReportPage extends Vue {
  report: Report = new Report();

  // Permissions
  isReporter: boolean = this.$store.getters.hasPermission(PermissionEnum.Reporter);

  confirmDeleteReport(): void {
    this.$dialog.confirm({
      title: 'Verwijderen verslag',
      message: 'Ben je zeker dat je dit verslag wilt verwijderen? Deze beslissing kan niet ongedaan gemaakt worden.',
      confirmText: 'Verslag verwijderen',
      cancelText: 'Annuleren',
      scroll: 'keep',
      type: 'is-danger',
      hasIcon: true,
      onConfirm: () => this.deleteReport(),
    });
  }

  async deleteReport(): Promise<void> {
    const reportId: number = Number(this.$route.params.id);
    try {
      await deleteReport(reportId);
      this.$router.push('/reports');
    } catch (e) {
      this.$dialog.alert({
        title: 'Oeps!',
        message: 'Er is iets mis gegaan. Het verslag kon momenteel niet verwijderd worden. Probeer later opnieuw.',
        type: 'is-danger',
        hasIcon: true,
      });
    }
  }

  async pullReportData(): Promise<void> {
    const reportId: number = Number(this.$route.params.id);

    try {
      this.report = await getReport(reportId);
    } catch (e) {
      this.$dialog.alert({
        title: 'Oeps!',
        message: 'Er is iets mis gegaan, probeer later opnieuw.',
        type: 'is-danger',
        hasIcon: true,
        icon: 'times-circle',
        iconPack: 'fa',
      });
      this.$router.push('/reports');
    }
  }

  mounted(): void {
    this.pullReportData();
  }
}

</script>
