<template>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container" style="height: -moz-available; height: -webkit-fill-available;">
      <section
      class="section"
      style="height: -moz-available; height: -webkit-fill-available; padding-top: 0px;">
      <!-- Header with options -->
      <div style="margin: 0px 0px 20px 0px;">
        <b-field grouped>
          <p class="control">
            <button class="button is-small" @click="$router.back();">Terug</button>
          </p>
          <!-- save button -->
          <p class="control" id="saveBtn">
            <button class="button is-primary is-small"
            @click="loadingButtons.push('save'); saveReport();"
            :disabled="content.v === ''">
              Opslaan
              <!-- Loading part of save button -->
              <b-loading
              :is-full-page="false"
              :active="loadingButtons.indexOf('save') > -1"
              :can-cancel="false">
              </b-loading>
            </button>
          </p>
          <!-- save and close button -->
          <p class="control">
            <button class="button is-primary is-small"
            @click="loadingButtons.push('saveAndClose'); saveReportAndClose();"
            :disabled="content.v === ''">
              Opslaan en afsluiten
              <b-loading
              :is-full-page="false"
              :active="loadingButtons.indexOf('saveAndClose') > -1"
              :can-cancel="false">
              </b-loading>
            </button>
          </p>
        </b-field>
      </div>
      <b-notification type="is-danger" :active.sync="errorMessageVisible">
        Het opslaan is niet geslaagd. Probeer later opnieuw.
      </b-notification>
      <!-- Report editor -->
      <ReportEditor :content="content" :title="title"></ReportEditor>
    </section>
    </div>
  </div>
</section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import saveReport from '@/api/saveReport';
import ReportEditor from '@/components/ReportEditor.vue';
import { Container } from '@/lib/UsersPack';

import getReport from '@/api/getReport';
import { Report } from '@/lib/Report';


@Component({
  components: {
    ReportEditor,
  },
})
export default class WriteReportPage extends Vue {
  content: Container<string> = new Container<string>('');
  title: Container<string> = new Container<string>('Nieuwe titel');

  reportId: number = 0;
  errorMessageVisible: boolean = false;

  loadingButtons: string[] = [];

  async saveReport(): Promise<boolean> {
    try {
      this.reportId = await saveReport(this.title.v, this.content.v, this.reportId);
      this.loadingButtons = [];
      this.$toast.open({
        duration: 2000,
        message: 'Opgeslagen',
        position: 'is-bottom',
        type: 'is-success',
      });
      return true;
    } catch (e) {
      this.errorMessageVisible = true;
      this.loadingButtons = [];
      return false;
    }
  }

  async saveReportAndClose(): Promise<boolean> {
    const saved: boolean = await this.saveReport();
    if (saved) {
      this.$router.back();
      return true;
    }
    return false;
  }

  async pullDataFromServer(id: number): Promise<void> {
    try {
      const report: Report = await getReport(id);
      this.content.v = report.content;
      this.title.v = report.reportName;
    } catch (e) {
      this.$dialog.alert({
        title: 'Oeps!',
        message: 'Het bericht kon niet geladen worden. Probeer later opnieuw.',
        type: 'is-danger',
        hasIcon: true,
      });
      this.$router.back();
    }
  }

  mounted(): void {
    // read id from url
    if (this.$route.params.id !== undefined) {
      this.reportId = Number(this.$route.params.id);
    }
    if (this.reportId !== 0) {
      this.pullDataFromServer(this.reportId);
    }
  }
}
</script>
