<template>
  <div id="userTable">
    <h1 class="title">{{title}}</h1>
    <b-table
      :data="filteredAccounts"
      :columns="columns"
      :hoverable="true"
      @update:selected="memberClicked"
    ></b-table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Account } from '@/lib/UsersPack';

interface Column {
  field: string;
  label: string;
  sortable: boolean;
}

@Component
export default class AccountsTable extends Vue {
  @Prop() title!: string;
  @Prop() filteredAccounts!: Account[];
  @Prop() columns!: Column[];

  memberClicked(clickedAccount: Account) : void {
    this.$router.push(`/account/${clickedAccount.id}`);
  }
}
</script>
