<template>
  <div>
    <b-field>
        <b-input
        label="E-mail"
        type="email"
        placeholder="jan.janssen@example.com"
        v-model="account.email">
        </b-input>
      </b-field>
    <h2 class="subtitle">Wachtwoord</h2>
    <button class="button" @click="openModal">
      Wachtwoord aanpassen
    </button>
    <!-- checkboxes with permissions -->
    <PermissionEditor
      v-if="allowedToSee()"
      style="margin-top: 20px;"
      :permissions="accountPermissionsIntoContainer()"
      >
    </PermissionEditor>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Account, Container } from '@/lib/UsersPack';
import ChangePasswordModal from '@/components/ChangePasswordModal.vue';
import PermissionEditor from '@/components/PermissionEditor.vue';
import Permissions from '@/lib/Permissions';
import PermissionEnum from '@/lib/PermissionEnum';

@Component({
  components: {
    ChangePasswordModal,
    PermissionEditor,
  },
})
export default class AccountDataForm extends Vue {
  @Prop() account!:Account;
  @Prop() isParent!:boolean;

  openModal() : void {
    this.$modal.open({
      parent: this,
      component: ChangePasswordModal,
      hasModalCard: true,
    });
  }

  accountPermissionsIntoContainer(): Container<Permissions> {
    return new Container(this.account.permissions || Permissions.empty());
  }

  allowedToSee() : boolean {
    if (this.isParent) {
      return this.$store.getters.hasPermission(PermissionEnum.ParentAdministrator);
    }
    return this.$store.getters.hasPermission(PermissionEnum.LeaderAdministrator);
  }
}
</script>
