<template>
  <form action>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ this.title }}</p>
      </header>
      <section class="modal-card-body">
        <b-notification
          class="is-danger"
          :active.sync="notifActive"
        >{{notifText}}</b-notification>
        <b-field label="Naam">
          <b-input
            type="text"
            v-model="ogActivity.title"
            placeholder="Evenementnaam"
            required
            :disabled="!permissionManageActivity"
          ></b-input>
        </b-field>
        <b-field label="Descriptie">
          <b-input
            maxlength="256"
            type="textarea"
            v-model="ogActivity.description"
            placeholder="Beschrijving"
            :disabled="!permissionManageActivity"
          ></b-input>
        </b-field>
        <b-field label="Pré-registreren">
          <b-switch
            v-model="preRegister"
            :disabled="!permissionManageActivity"
            @input="onPreRegisterUpdate"
          ></b-switch>
        </b-field>
        <b-field
          label="Pré-registratie deadline"
          v-if="preRegister"
        >
          <DatePicker
            :dateContainer="preRegisterContainer"
            :disabled="!permissionManageActivity"
            @input="onPreRegisterDateUpdate"
          >
          </DatePicker>
        </b-field>
        <b-field label="Begin">
          <DatePicker
            :dateContainer="startContainer"
            :disabled="!permissionManageActivity"
            @input="onStartDateUpdate"
          >
          </DatePicker>
        </b-field>
        <b-field label="Einde">
          <DatePicker
            :dateContainer="stopContainer"
            :disabled="!permissionManageActivity"
            @input="onStopDateUpdate"
          >
          </DatePicker>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-primary"
          type="button"
          @click="execClick"
        >Aanvaard</button>
        <button
          class="button"
          type="button"
          @click="$parent.close()"
        >Annuleer</button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import Activity from '@/lib/Activity';
import BField from 'buefy/src/components/field/Field.vue';
import BCheckbox from 'buefy/src/components/checkbox/Checkbox.vue';
import DatePicker from '@/components/DatePicker.vue';
import { Container } from '@/lib/UsersPack';
import PermissionEnum from '@/lib/PermissionEnum';

@Component({
  components: { DatePicker, BCheckbox, BField },
})
export default class ActivityDetailsModal extends Vue {
  @Prop(String) title!: string;
  @Prop(Function) acceptFunction!: (_: Activity) => {};
  @Prop(Function) reloadFunction!: () => {};
  @Prop(Activity) originalActivity!: Activity;

  ogActivity: Activity = this.originalActivity;

  dateCheck: Date = new Date();

  preRegisterContainer: Container<Date> = new Container(this.dateCheck);
  startContainer: Container<Date> = new Container(this.ogActivity.startDate);
  stopContainer: Container<Date> = new Container(this.ogActivity.stopDate);

  preRegister: boolean = false;

  errorText: string = '';
  nActive: boolean = false;

  get notifText() {
    return this.errorText;
  }

  get notifActive() {
    return this.nActive;
  }

  set notifActive(param: boolean) {
    this.nActive = param;
  }

  get permissionManageActivity(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.EventAdministrator);
  }

  onPreRegisterUpdate() {
    if (!this.preRegister) {
      this.ogActivity.preRegisterDate = null;
      this.preRegisterContainer.v = this.dateCheck;
    } else {
      this.ogActivity.preRegisterDate = this.preRegisterContainer.v;
    }
  }

  onPreRegisterDateUpdate() {
    if (this.preRegisterContainer.v === this.dateCheck) {
      this.ogActivity.preRegisterDate = null;
    } else {
      this.ogActivity.preRegisterDate = this.preRegisterContainer.v;
    }
  }

  onStartDateUpdate() {
    this.ogActivity.startDate = this.startContainer.v;
  }

  onStopDateUpdate() {
    this.ogActivity.stopDate = this.stopContainer.v;
  }

  preRegisterCorrect(): boolean {
    if (!this.preRegister) {
      this.ogActivity.preRegisterDate = null;
    } else if (this.preRegister && this.ogActivity.preRegisterDate === null) {
      this.errorText = 'Er is geen pré-registratie datum gekozen';
      this.nActive = true;
      return false;
    } else if (this.ogActivity.preRegisterDate != null &&
      this.ogActivity.preRegisterDate.valueOf() > this.ogActivity.startDate.valueOf()) {
      this.errorText = 'De pré-registratie kan niet na het begin zijn.';
      this.nActive = true;
      return false;
    }
    return true;
  }

  async execClick(_: Event): Promise<void> {
    if (!this.preRegisterCorrect()) {
      return;
    }

    if (this.ogActivity.title === '') {
      this.errorText = 'Vul de naam van het evenement in.';
      this.nActive = true;
      return;
    }

    if (this.ogActivity.startDate.valueOf() > this.ogActivity.stopDate.valueOf()) {
      this.errorText = 'Het einde kan niet voor het begin zijn.';
      this.nActive = true;
      return;
    }

    const succes = await this.acceptFunction(this.ogActivity);

    if (!succes) {
      this.errorText = 'Evenement kon niet aangemaakt worden. Probeer later opnieuw.';
      this.nActive = true;
      return;
    }

    await this.reloadFunction();
    (this.$parent as any).close();
  }

  setPreRegister() {
    this.dateCheck.setDate(this.originalActivity.startDate.getDate() - 1); // sets it to day before
    if (this.originalActivity.preRegisterDate === null) {
      this.preRegister = false;
      this.preRegisterContainer = new Container(this.dateCheck);
    } else {
      this.preRegister = true;
      this.preRegisterContainer = new Container(this.originalActivity.preRegisterDate);
    }
  }

  mounted() {
    this.setPreRegister();
  }
}
</script>

<style scoped>
</style>
