<template>
  <div>
    <b-table
    :data="data"
    :narrowed="true"
    :hoverable="true"
    @update:selected="billClicked">

      <template slot-scope="props">
          <b-table-column field="description" label="Beschrijving">
            {{ props.row.description }}
          </b-table-column>
          <b-table-column field="amount" label="Bedrag" width="100" numeric>
            € {{ props.row.amount }}
          </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon
              icon="emoticon-happy"
              size="is-large">
              </b-icon>
            </p>
            <p>Er zijn geen rekeningen</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Bill from '@/lib/Bill';

@Component
export default class BillOverviewOnePerson extends Vue {
  @Prop() data!: Bill[];

  billClicked(bill: Bill) {
    this.$router.push(`/bill/${bill.id}`);
  }
}
</script>
