<template>
  <div v-if="persons !== undefined">
    <b-collapse class="card" v-for="person in persons" :key="person.id" :open="false">
      <div slot="trigger" slot-scope="props" class="card-header">
        <p class="card-header-title">
          {{ person.firstName }} {{ person.lastName }}
        </p>
        <div>
          <p class="card-header-title">
            € {{ sumOfBills(person.bills) }}
          </p>
        </div>
        <a class="card-header-icon">
          <b-icon
            :icon="props.open ? 'menu-down' : 'menu-up'">
          </b-icon>
        </a>
      </div>
      <div class="card-content">
        <div class="content">
          <BillOverviewOnePerson v-if="person.bills !== null" :data="person.bills">
          </BillOverviewOnePerson>
        </div>
      </div>
    </b-collapse>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Person from '@/lib/Person';
import Bill from '@/lib/Bill';

import BillOverviewOnePerson from '@/components/BillOverviewOnePerson.vue';

@Component({
  components: {
    BillOverviewOnePerson,
  },
})
export default class BillOverview extends Vue {
  @Prop() persons!: Person[]|undefined;

  // eslint-disable-next-line class-methods-use-this
  sumOfBills(bills: Bill[]): number {
    return Bill.sum(bills);
  }
}
</script>
