<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Kies nieuw wachtwoord</p>
    </header>
    <section class="modal-card-body">
      <b-field label="Origineel wachtwoord">
        <b-input
          type="password"
          placeholder="wachtwoord"
          v-model="originalPass">
        </b-input>
      </b-field>
      <NewPasswordFields :password="password" />
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Annuleer</button>
      <button class="button is-primary"
      :disabled="password.v === ''"
      @click="saveNewPassword(); $parent.close()">Bevestig</button>
    </footer>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import NewPasswordFields from '@/components/NewPasswordFields.vue';
import { Container } from '@/lib/UsersPack';
import updatePassword from '@/api/updatePassword';

@Component({
  components: {
    NewPasswordFields,
  },
})
export default class ChangePasswordModal extends Vue {
  @Prop() accID!:number;

  originalPass:string = '';

  password:Container<string> = new Container('');

  async saveNewPassword() : Promise<void> {
    try {
      const result = await updatePassword(this.originalPass, this.password.v);
      this.$toast.open({
        message: 'Wachtwoord succesvol geüpdatet!',
        type: 'is-success',
        position: 'is-bottom',
      });
    } catch (e) {
      if (e.toString().includes('403')) {
        this.$dialog.alert({
          message: 'Het originele wachtwoord was niet correct.',
          scroll: 'keep',
          type: 'is-danger',
        });
      } else {
        this.$dialog.alert({
          message: 'Er is iets mis gegaan. Probeer later opnieuw.',
          scroll: 'keep',
          type: 'is-danger',
        });
      }
    }
  }
}
</script>

