<template>
  <b-datepicker
    v-if="dateContainer.v !== undefined"
    placeholder="Klik om te selecteren"
    icon="calendar-today"
    v-model="dateContainer.v"
    :month-names="months"
    :day-names="days"
    :first-day-of-week="firstDayOfWeek"
    :date-formatter="formatter"
    :date-parser="parser"
    editable
    :disabled="disabled"
    @input="$emit('input')"
  ></b-datepicker>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';
import moment from 'moment';

@Component
export default class DatePicker extends Vue {
  @Prop({
    default: () => false,
    required: false,
  })
  disabled!: boolean;
  @Prop() dateContainer!: Container<Date|undefined>;

  /**
   * Dutch translations for the months
   */
  months = [
    'januari',
    'februari',
    'maart',
    'april',
    'mei',
    'juni',
    'juli',
    'augustus',
    'september',
    'oktober',
    'november',
    'december',
  ];

  /**
   * Dutch translations for the days
   */
  days = ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'];

  /**
   * Weeks start on a Monday
   */
  firstDayOfWeek = 1;

  // Use the Belgian format
  parser = (str: string) => moment(str, 'DD/MM/YYYY').toDate();
  formatter = (date: Date) => moment(date).format('DD/MM/YYYY');
}
</script>
