<template>
  <form action="">
    <!-- description -->
    <b-field label="Omschrijving">
      <b-input type="text" placeholder="Omschrijving" v-model="bill.description">
      </b-input>
    </b-field>
    <!-- value -->
    <b-field label="te betalen">
      <b-field>
        <p class="control">
          <span class="button is-static">€</span>
        </p>
        <b-input type="number" placeholder="0.00" step="0.01" v-model="bill.amount" expanded>
        </b-input>
      </b-field>
    </b-field>
  </form>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Bill from '@/lib/Bill';


@Component
export default class EditBill extends Vue {
  @Prop() bill!: Bill;
}
</script>
