<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ title }}</p>
    </header>
    <section class="modal-card-body">
      <!-- Error message -->
      <b-notification type="is-danger" v-if="couldNotSave" @close="couldNotSave = false" has-icon>
        Opslaan mislukt.<br/>Probeer later opnieuw.
      </b-notification>
      <EditBill :bill="bill"/>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Annuleer</button>
      <button class="button is-primary" @click="confirmed($parent)">Bevestig
        <b-loading :is-full-page="false" :active.sync="isSaving"></b-loading>
      </button>
    </footer>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import EditBill from '@/components/EditBill.vue';
import Bill from '@/lib/Bill';

import editBill from '@/api/editBill';

@Component({
  components: {
    EditBill,
  },
})
export default class EditBillModal extends Vue {
  @Prop() title!: string;
  @Prop() bill!: Bill;
  @Prop() onConfirm!: Function;

  // loading states
  isSaving: boolean = false;

  // Error messages
  couldNotSave: boolean = false;

  async confirmed(parent: any): Promise<void> {
    try {
      this.isSaving = true;
      await this.onConfirm(parent);
    } catch (e) {
      this.couldNotSave = true;
    } finally {
      this.isSaving = false;
    }
  }
}
</script>
