<template>
  <form action>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ this.title }}</p>
      </header>
      <section class="modal-card-body">
        <b-notification
          class="is-danger"
          :active.sync="notifActive"
        >{{notifText}}</b-notification>
        <b-field label="Naam">
          <b-input
            type="text"
            v-model="groupingName"
            placeholder="Naam"
            required
          ></b-input>
        </b-field>
        <b-field label="Descriptie">
          <b-input
            maxlength="256"
            type="textarea"
            v-model="description"
            placeholder="Descriptie"
          ></b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-primary"
          type="button"
          @click="execClick"
        >Aanvaard</button>
        <button
          class="button"
          type="button"
          @click="$parent.close()"
        >Annuleer</button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Grouping from '@/lib/Grouping';
import { Prop } from 'vue-property-decorator';

@Component
export default class GroupingDetailsModal<T extends Grouping> extends Vue {
  @Prop(String) title!: string;
  @Prop(String) errorText!: string;
  @Prop(Function) acceptFunction!: (_: T) => {};
  @Prop(Function) reloadFunction!: () => {};
  @Prop() originalGrouping!: T;

  groupingName: string = this.originalGrouping.title;
  description: string = this.originalGrouping.description || '';
  nActive: boolean = false;

  get notifText() {
    return this.errorText;
  }

  get notifActive() {
    return this.nActive;
  }
  set notifActive(param: boolean) {
    this.nActive = param;
  }

  async execClick(_:Event): Promise<void> {
    const id = this.$route.params.id ? Number(this.$route.params.id) : 0;

    const success =
      await this.acceptFunction(new Grouping(id, this.groupingName, this.description) as T);
    if (success) {
      await this.reloadFunction();
      // Buefy has no TS type bindings. TS thinks this.$parent is a Vue class.
      // However, it is a modal. Setting the type as any allows us to
      // call modal.close() without errors.
      (this.$parent as any).close();
    } else {
      this.nActive = true;
    }
  }
}
</script>


<style scoped>
</style>
