<template>
  <div class="block">
    <b-field :label="label"></b-field>
    <b-checkbox
      v-model="selectedGroupNames.v"
      v-for="groupName in groupNames"
      :key="groupName"
      :native-value="groupName"
      @input="$emit('input');"
      class="checkbox"
    >{{groupName}}</b-checkbox>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';

@Component
export default class GroupSelector extends Vue {
  @Prop() groupNames!:string[];
  @Prop() selectedGroupNames!:Container<string[]>;
  @Prop() label!:string;
}
</script>
