<template>
  <div class="LoginForm">
    <div class="box">
      <section>
        <b-tabs
          v-model="activeTab"
          type="is-boxed is-centered"
          @change="updateOnEnterVar"
        >
          <!-- Tab - Login -->
          <b-tab-item
            label="Inloggen"
            icon="lock"
          >
            <h1 class="title has-text-black">Login</h1>
            <h2 class="subtitle has-text-black">{{ymName}}</h2>
            <b-field label="E-mailadres">
              <b-input
                placeholder="jan.janssen@example.com"
                v-model="email"
              ></b-input>
            </b-field>
            <b-field label="Wachtwoord">
              <b-input
                type="password"
                placeholder="wachtwoord"
                v-model="password"
              ></b-input>
            </b-field>
            <div class="control">
              <button
                class="button is-primary"
                @click="login">
                Inloggen
              </button>
              <a
                :href="PPURL"
                class="button is-text">
                Privacybeleid
              </a>
            </div>
          </b-tab-item>
          <!-- Tab - Register -->
          <b-tab-item
            label="Registreren"
            icon="border-color"
          >
            <h1 class="title has-text-black">Registreren</h1>
            <h2 class="subtitle has-text-black">{{ymName}}</h2>
            <b-field
              label="E-mailadres"
              type="email"
            >
              <b-input
                placeholder="jan.janssen@example.com"
                v-model="email"
                type="email"
                @keydown="register()"
              ></b-input>
            </b-field>
            <NewPasswordFields
              :password="regPassword"
              @new_paswd="password">
            </NewPasswordFields>
            <b-field label="Algemene voorwaarden">
              <b-checkbox v-model="ToSAccept">
                Ik ga akkoord met de <a :href="ToSURL" target=_blank>Algemene voorwaarden</a>
              </b-checkbox>
            </b-field>
            <b-field label="Privacybeleid">
              <b-checkbox v-model="PPAccept">
                Ik ga akkoord met het <a :href="PPURL" target=_blank>Privacybeleid</a>
              </b-checkbox>
            </b-field>
            <div class="control">
              <button
                class="button is-primary"
                :disabled="regPassword.v === '' || email === '' || !ToSAccept || !PPAccept"
                @click="register"
              >Registreren</button>
            </div>
          </b-tab-item>
        </b-tabs>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import SessionData from '@/lib/SessionData';
import { Account, Container, Parent } from '@/lib/UsersPack';
import Person from '@/lib/Person';
import Leader from '@/lib/Leader';
import Permissions from '@/lib/Permissions';
import PermissionEnum from '@/lib/PermissionEnum';
import getChildren from '@/api/getChildren';

import login from '@/api/login';
import registerParent from '@/api/registerParent';

import NewPasswordFields from '@/components/NewPasswordFields.vue';

@Component({
  components: {
    NewPasswordFields,
  },
})
export default class LoginForm extends Vue {
  @Prop() private ymName!: string;
  activeTab: number = 0;
  email: string = '';
  password: string = '';
  passwordsAreEqual: boolean = true;

  regPassword: Container<string> = new Container('');

  onEnter: Function[] = [this.login];

  updateOnEnterVar(): void {
    this.onEnter.pop();
    if (this.activeTab === 0) {
      this.onEnter.push(this.login);
    } else if (this.activeTab === 1) {
      this.onEnter.push(this.register);
    }
  }

  async login(): Promise<void> {
    if (this.email !== '' && this.password !== '') {
      try {
        const loginData: {
        account: Account | null;
        isLeader: boolean;
        personId: number | null;
        } = await login(this.email, this.password);
        if (loginData.account) {
          this.$store.commit('setAccount', loginData.account);
          this.$store.commit('setIsLeader', loginData.isLeader);
          if (this.$store.getters.userIsParent) {
            try {
              this.$store.commit('setChildren', await getChildren(this.$store.getters.accountID));
            } catch (error) {
              this.$dialog.alert({
                message:
                  'Niet alle data kon correct worden ingeladen.',
                scroll: 'keep',
              });
            }
          }
          this.$store.commit('setPersonID', loginData.personId);
          this.goto('/home');
        } else {
          this.showDialog('Deze gebruikersnaam en wachtwoord combinatie werd niet herkend.');
        }
      } catch (e) {
        this.showDialog(`Kon niet inloggen met de gegeven logingegevens.
            Kloppen je gebruikersnaam en wachtwoord?`);
      }
    } else {
      this.showDialog('Vul je gegevens in voordat je probeert in te loggen!');
    }
  }

  async register(): Promise<void> {
    if (this.email && this.regPassword.v) {
      try {
        const loginData: {
        account: Account;
        isLeader: boolean;
        } = await registerParent(this.email, this.regPassword.v);

        if (loginData) {
          this.$store.commit('setAccount', loginData.account);
          this.$store.commit('setIsLeader', loginData.isLeader);
          this.goto(`/account/${loginData.account.id}`);
        }
      } catch (_) {
        this.showDialog('Dit account kon niet worden aangemaakt. Probeer een ander email adres of wachtwoord.');
      }
    }
  }

  bindShortcuts(event:KeyboardEvent): void {
    if (event.keyCode === 13) {
      this.onEnter[0]();
    }
  }

  showDialog(message: string) {
    const savedOnEnter: Function[] = this.onEnter;
    this.onEnter = [];
    this.$dialog.alert({ message, onConfirm: () => { this.onEnter = savedOnEnter; } });
  }

  mounted() {
    window.addEventListener('keydown', this.bindShortcuts);
  }

  goto(url: string) {
    window.removeEventListener('keydown', this.bindShortcuts);
    this.$router.push(url);
  }

  ToSAccept = false;
  PPAccept = false;

  PPURL = `${process.env.VUE_APP_PRIVACY_POLICY_URL}`;
  ToSURL = `${process.env.VUE_APP_TERMS_URL}`;
}
</script>

