<template>
  <form action>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ this.title }}</p>
      </header>
      <section class="modal-card-body">
        <b-notification
          class="is-danger"
          :active.sync="notifActive"
        >{{ notifText }}</b-notification>
        <b-tabs v-model="activeTab">
          <b-tab-item label="Personen">
            <SearchField
              :query="filterQuery"
              :label="'Zoeken'"
              @input="filterUsers"
            />
            <b-table
              checkable
              :data="filteredPersonsList"
              :columns="columns"
              :hoverable="true"
              :checked-rows.sync="members"
            />
          </b-tab-item>
          <b-tab-item
            v-for="(_, i) of addableGroupings"
            :key="i"
            :label="addableGroupings[i][0]"
          >
            <b-checkbox
              v-for="(grouping, j) of addableGroupings[i][1]"
              :key="j"
              v-model="checkedGroupings[i]"
              :native-value="addableGroupings[i][1][j]"
            >
              {{ grouping.title }}
            </b-checkbox>
          </b-tab-item>
        </b-tabs>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-primary"
          type="button"
          @click="execClick"
        >Aanvaard</button>
        <button
          class="button"
          type="button"
          @click="$parent.close()"
        >Annuleer</button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Container, PersonMin } from '@/lib/UsersPack';
import SearchField from '@/components/SearchField.vue';
import UsersTable from '@/components/UsersTable.vue';
import Grouping from '@/lib/Grouping';
import getAllPersons from '@/api/persons';
import '@/lib/ArrayExtend';
import '@/lib/StringExtend';

@Component({
  components: {
    SearchField,
    UsersTable,
  },
})

export default class ManageMembersModal extends Vue {
  @Prop(String) title!: string;
  @Prop(Array) originalMembers!: PersonMin[];
  @Prop(Function) reloadFunction!: () => {};
  @Prop(Function) deleteMemberFn!:
    (personId: number, groupingId: number) => Promise<boolean>;
  @Prop(Function) addMemberFn!:
    (personId: number, groupingId: number) => Promise<boolean>;
  @Prop() addableGroupings!:
    [
      // name of tab
      string,
      // all groupings available in tab
      Grouping[],
      // commit method
      (groupingId: number, addedGroupingId: number) => Promise<number[] | null>
    ][];

  activeTab: number = 0;
  nActive: boolean = false;
  nText: string = '';
  filterQuery: Container<string> = new Container('');
  columns = [
    {
      field: 'firstName',
      label: 'Voornaam',
      sortable: true,
    },
    {
      field: 'lastName',
      label: 'Achternaam',
      sortable: true,
    },
  ];
  checkedGroupings: Grouping[][] = this.addableGroupings.map(_ => []);

  origMembersIds: number[] = [];
  members: PersonMin[] = [];
  persons: PersonMin[] = [];
  filteredPersonsList: PersonMin[] = [];

  get notifText() {
    return this.nText;
  }
  get notifActive() {
    return this.nActive;
  }
  set notifActive(param: boolean) {
    this.nActive = param;
  }

  filterUsers() : void {
    const wantedName = this.filterQuery.v;

    this.filteredPersonsList =
      this.persons
        // Case-insensitive and locale-insensitive (a-accent == a) filtering of name.
        .filter(person =>
          person.firstName.insensitiveIncludes(wantedName)
          || person.lastName.insensitiveIncludes(wantedName));
  }

  async manageIndvMembers(groupingId: number): Promise<boolean[]> {
    const membersIds =
      this
        .members
        .map(m => m.id);

    const removedMembers =
      this
        .origMembersIds
        .leftDiff(membersIds)
        .map(mid => this.deleteMemberFn(mid, groupingId));
    const addedMembers =
      membersIds
        .leftDiff(this.origMembersIds)
        .map(mid => this.addMemberFn(mid, groupingId));

    return Promise.all(removedMembers.concat(addedMembers));
  }

  async manageGroupingMembers(baseGroupingId: number)
    : Promise<(number[]|null)[]> {
    return Promise
      .all(this
        .addableGroupings
        .map(([_, __, commitFn]) => commitFn)
        .zip(this.checkedGroupings)
        .flatMap(([commitFn, checkedGroupings]) =>
          checkedGroupings.map(g => commitFn(baseGroupingId, g.id))));
  }

  async execClick(_:Event): Promise<void> {
    const groupingId = this.$route.params.id ? Number(this.$route.params.id) : 0;

    const [memberSucc, groupSucc] = (await Promise.all([
      this.manageIndvMembers(groupingId),
      this.manageGroupingMembers(groupingId),
    ]));

    if (memberSucc.some(s => !s)) {
      this.nText = 'Aanpassen van lijst is mislukt.';
      this.nActive = true;
    } else if (groupSucc.map(g => g !== null).some(s => !s)) {
      const failedGroupingTypes =
        this
          .addableGroupings
          .map(g => g[0])
          .zip(groupSucc)
          .filter(g => g[1] === null)
          .map(g => g[0].toLowerCase());
      const lastGroupingType = failedGroupingTypes.pop();
      const enumeratedFailed = failedGroupingTypes.join(', ');

      this.nText =
        `Toevoegen van sommige ${enumeratedFailed === ''
          ? lastGroupingType
          : `${enumeratedFailed} en ${lastGroupingType}`} is  gefaald.`;
      this.nActive = true;
    } else {
      this.reloadFunction();

      // Buefy has no TS type bindings. TS thinks this.$parent is a Vue class.
      // However, it is a modal. Setting the type as any allows us to
      // call modal.close() without type errors.
      (this.$parent as any).close();
    }
  }

  async getPersonsList(): Promise<void> {
    const persons = (await getAllPersons())!.persons || [];
    this.persons = persons;
    this.filteredPersonsList = persons;

    this.members =
      this
        .persons
        .filter(p => this.origMembersIds.includes(p.id));
  }

  mounted() {
    this.origMembersIds = this.originalMembers.map(m => m.id);
    this.getPersonsList();
  }
}
</script>

<style scoped>
</style>
