<template>
  <div>
    <b-field
    label="Wachtwoord"
    :type="{'is-danger' : !longEnough}"
    :message="{'Het wachtwoord moet minimaal 6 tekens lang zijn.' : !longEnough}">
        <b-input
        type="password"
        placeholder="wachtwoord"
        v-model="pass1"
        @input="checkPasswords">
        </b-input>
      </b-field>
      <b-field
      label="Herhaal wachtwoord"
      :type="{'is-danger' : !match}"
      :message="{'Beide wachtwoorden moeten overeen komen' : !match}">
        <b-input
        type="password"
        placeholder="wachtwoord"
        v-model="pass2"
        @input="checkPasswords">
      </b-input>
      </b-field>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';

@Component
export default class NewPasswordFields extends Vue {
  @Prop() password!:Container<string>;

  pass1:string = '';
  pass2:string = '';

  match:boolean = true;
  longEnough:boolean = true;

  updatePassword() : void {
    if (this.match && this.longEnough) {
      this.password.v = this.pass1;
    } else {
      this.password.v = '';
    }
  }

  checkPasswords() : void {
    this.match = this.pass1 === this.pass2;
    this.longEnough = this.pass1.length >= 6;

    this.updatePassword();
    this.$emit('input');
  }
}
</script>
