<template>
  <nav
    class="navbar"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <div @click="isOpen = false">
        <router-link
          v-if="userLoggedIn"
          to="/home"
          class="navbar-item"
        >
          <img
            :src="logoPath"
            style="max-height: 52px; margin-right: 10px;"
          >
          <p>{{ymName}}</p>
        </router-link>
        <router-link
          v-else-if="!userLoggedIn"
          to="/"
          class="navbar-item"
        >
          <img
            :src="logoPath"
            style="max-height: 52px; margin-right: 10px;"
          >
          <p>{{ymName}}</p>
        </router-link>
      </div>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
        v-bind:class="{'is-active': isOpen}"
        @click="isOpen = !isOpen"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div
      id="navbar"
      class="navbar-menu"
      v-bind:class="{'is-active': isOpen}"
      @click="isOpen = !isOpen"
    >
      <div class="navbar-end">
        <!-- btn: ledenlijsten (only for leaders) -->
        <div
          class="navbar-item has-dropdown is-hoverable"
          v-if="userLoggedIn && userIsLeader"
        >
          <router-link
            class="navbar-link"
            to="/users"
          >Ledenbeheer</router-link>
          <div class="navbar-dropdown">
            <router-link
              class="navbar-item"
              to="/users"
            >Leden</router-link>
            <!-- btn: parents (only for parent admins) -->
            <router-link
              class="navbar-item"
              to="/parents"
              v-if="userLoggedIn && userIsParentAdmin"
            >
              Ouders
            </router-link>
            <router-link
              class="navbar-item"
              to="/groups"
            >Groepen</router-link>
            <hr class="navbar-divider">
            <router-link
              class="navbar-item"
              to="/register/child"
            >Kind registreren</router-link>
            <router-link
              class="navbar-item"
              to="/register/leader"
              v-if="userLoggedIn && userIsLeaderAdmin"
            >
              Leider registreren
            </router-link>
          </div>
        </div>
        <!-- btn: checklists (only for leaders) -->
        <router-link
          class="navbar-item"
          to="/checklists"
          v-if="userLoggedIn && userIsLeader"
        >
          Afvinklijsten
        </router-link>
        <!-- btn: events -->
        <router-link
          class="navbar-item"
          to="/events"
          v-if="userLoggedIn"
        >
          Evenementen
        </router-link>
        <!-- btn: reports -->
        <router-link
          class="navbar-item"
          to="/reports"
          v-if="userLoggedIn && userIsLeader"
        >
          Verslagen
        </router-link>
        <!-- btn: manage bills -->
        <router-link
          class="navbar-item"
          to="/billmanagement"
          v-if="userLoggedIn && userIsLeader && userIsFinancial"
        >
          Beheer rekeningen
        </router-link>
        <!-- btn: my children (only for parents) -->
        <div
          class="navbar-item has-dropdown is-hoverable"
          v-if="userLoggedIn && userIsParent"
        >
          <router-link
            class="navbar-link"
            to="/b"
            event=""
          >Mijn kinderen</router-link>
          <div class="navbar-dropdown">
            <router-link
              class="navbar-item"
              v-for="child in userChildren"
              v-bind:key="child.id"
              :to="'/person/' + child.id"
            >
              {{child.firstName}} {{child.lastName}}
            </router-link>
            <hr class="navbar-divider">
            <router-link
              class="navbar-item"
              to="/add_child_to_parent"
            >
              Kinderen toevoegen
            </router-link>
          </div>
        </div>

        <!-- dropdown: my personal data -->
        <div
          class="navbar-item has-dropdown is-hoverable"
          v-if="userLoggedIn"
        >
          <router-link
            class="navbar-link"
            to=""
          >Mijn gegevens</router-link>
          <!-- item: person-data (only leaders) -->
          <div class="navbar-dropdown">
            <router-link
              class="navbar-item"
              :to="`/person/${$store.getters.personID}`"
              v-if="userIsLeader"
            >Persoonlijk</router-link>
            <router-link
              class="navbar-item"
              :to="`/account/${$store.getters.accountID}`"
            >Account</router-link>
            <hr class="navbar-divider">
            <router-link
            class="navbar-item"
            :to="`/bills/${$store.getters.personID}`">
              Rekeningen
            </router-link>
          </div>
        </div>

        <!-- btns: login & logout -->
        <div class="navbar-item">
          <div class="buttons">
            <a
              class="button is-danger"
              v-if="userLoggedIn"
              @click="logout"
            >
              <strong>Uitloggen</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Parent } from '@/lib/UsersPack';
import Child from '@/lib/Child';

import logOut from '@/api/logout';
import PermissionEnum from '@/lib/PermissionEnum';

@Component
export default class PageHeader extends Vue {
  @Prop() private logoPath!: string;
  @Prop() private ymName!: string;
  isOpen : boolean = false;

  get userIsLeaderAdmin(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.LeaderAdministrator);
  }

  get userLoggedIn(): boolean {
    return this.$store.getters.isLoggedIn;
  }

  get userIsLeader(): boolean {
    return this.$store.getters.userIsLeader;
  }

  get userIsParent(): boolean {
    return this.$store.getters.userIsParent;
  }

  get userChildren(): Child[] {
    return this.$store.getters.children;
  }

  get userIsParentAdmin(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.ParentAdministrator);
  }

  get userIsFinancial(): boolean {
    return this.$store.getters.hasPermission(PermissionEnum.Financial);
  }

  logout() : void {
    logOut();
    this.$store.commit('logout');

    this.$router.push('/');
  }
}

</script>
