<template>
  <div>
    <h2 class="subtitle">Rechten</h2>
    <p class="content">Selecteer alle rechten die deze persoon dient toegekend te krijgen.</p>
    <div
      class="field"
      v-for="permission in availablePermissions"
      :key="permission.pEnumId"
    >
      <b-checkbox
        :value="permissions.v.hasPermission(permission.pEnumId)"
        @input="ChangePermission($event, permission.pEnumId)"
      >
        <b-tooltip
          :label="permission.pTooltip"
          multilined
          dashed
        >
          {{ permission.pName }}
        </b-tooltip>
      </b-checkbox>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';
import ChangePasswordModal from '@/components/ChangePasswordModal.vue';
import Permissions from '@/lib/Permissions';
import PermissionEnum from '@/lib/PermissionEnum';

@Component({
  components: {
    ChangePasswordModal,
  },
})
export default class PermissionEditor extends Vue {
  @Prop() permissions!: Container<Permissions>;

  availablePermissions: any[] = [
    // TODO: sort these in a logical way.
    {
      pEnumId: 0,
      pName: 'Info kinderen bekijken',
      pTooltip: 'Geeft het recht om de informatie van alle kinderen te bekijken.',
    },
    {
      pEnumId: 1,
      pName: 'Info kinderen aanpassen',
      pTooltip: 'Geeft het recht die informatie van alle kinderen te' +
        'bekijken en aan te passen, en om kinderen te verwijderen.',
    },
    {
      pEnumId: 2,
      pName: 'Leiders beheren',
      pTooltip: 'Geeft het recht een leider-account aan te maken, ' +
        'aan te passen en te verwijderen',
    },
    {
      pEnumId: 3,
      pName: 'Ouders beheren',
      pTooltip: 'Geeft het recht een ouder-account aan passen en te verwijderen.',
    },
    {
      pEnumId: 4,
      pName: 'Penningmeester',
      pTooltip: 'Geeft het recht om rekeningen aan te maken en te verwijderen, ' +
        'en om betalingen te bevestigen.',
    },
    {
      pEnumId: 5,
      pName: 'Verslaggever',
      pTooltip: 'Geeft het recht om verslagen te schrijven en toe te voegen aan de database.',
    },
    {
      pEnumId: 6,
      pName: 'Groepen beheren',
      pTooltip: 'Geeft het recht om groepen aan te maken, verwijderen en te beheren.',
    },
    {
      pEnumId: 7,
      pName: 'Evenementen beheren',
      pTooltip: 'Kan evenemennten aanmaken en beheren.',
    },
    {
      pEnumId: 10,
      pName: 'Leiders bekijken',
      pTooltip: 'Kan leiders in het systeem bekijken.',
    },
    {
      pEnumId: 11,
      pName: 'Afvinklijsten beheren',
      pTooltip: 'Geeft het recht om afvinklijsten aan te maken, verwijderen en te beheren.',
    },
  ]

  ChangePermission(event:Event, permission:PermissionEnum) : void {
    if (event) {
      this.permissions.v!.addPermission(permission);
    } else {
      this.permissions.v!.deletePermission(permission);
    }
  }

  openModal() : void {
    this.$modal.open({
      parent: this,
      component: ChangePasswordModal,
      hasModalCard: true,
    });
  }
}
</script>
