<template>
  <div
    class="container-fluid"
    id="PersonDataForm"
    v-if="person !== undefined"
  >
    <h2 class="subtitle">Basis</h2>
    <div class="columns is-multiline is-mobile">
      <!-- firstname field -->
      <div class="column is-6-mobile">
        <b-field label="Voornaam">
          <b-input
            required
            v-model="person.firstName"
            @input="$emit('input')"
            :disabled="!fullEdit"
          />
        </b-field>
      </div>
      <!-- surname field -->
      <div class="column is-6-mobile">
        <b-field label="Achternaam">
          <b-input
            required
            v-model="person.lastName"
            @input="$emit('input')"
            :disabled="!fullEdit"
          />
        </b-field>
      </div>
      <!-- sex field -->
      <div class="column is-2-desktop is-4-mobile is-2-tablet">
        <b-field label="Geslacht">
          <b-select
            placeholder
            v-model="person.gender"
            @input="$emit('input')"
            :disabled="!minorEdit"
          >
            <option value="Male">Man</option>
            <option value="Female">Vrouw</option>
            <option value="Other">Andere</option>
            <option value></option>
          </b-select>
        </b-field>
      </div>
    </div>
    <div class="columns">
      <!-- date of birth -->
      <div class="column">
        <b-field label="Geboortedatum">
          <DatePicker
            @input="/*updateBirthDate*/"
            :disabled="!minorEdit"
            :person="person"
            :dateContainer="dateContainer"
          >
          </DatePicker>
        </b-field>
      </div>
      <!-- place of birth -->
      <div class="column">
        <b-field label="Geboorteplaats">
          <b-input
            required
            v-model="person.placeOfBirth"
            @input="$emit('input')"
            :disabled="!minorEdit"
          />
        </b-field>
      </div>
    </div>
    <h2 class="subtitle">Contactgegevens</h2>
    <div class="columns is-mobile">
      <!-- phone number field -->
      <div class="column">
        <b-field label="Telefoonnummer">
          <b-input
            v-model="person.phoneNumber"
            @input="$emit('input')"
            :disabled="!minorEdit"
          ></b-input>
        </b-field>
      </div>
    </div>
    <h2 class="subtitle">Adres</h2>
    <div class="columns is-multiline is-mobile">
      <!-- street + number field -->
      <div class="column is-12-mobile is-7-tablet">
        <b-field label="Straat en huisnummer">
          <b-input
            v-if="person.address !== undefined"
            v-model="person.address.streetAndNumber"
            @input="$emit('input')"
            :disabled="!minorEdit"
          >
          </b-input>
        </b-field>
      </div>
      <!-- zip-code field -->
      <div class="column is-2-tablet is-4-mobile">
        <b-field label="postcode">
          <b-input
            v-if="person.address !== undefined"
            v-model="person.address.zipCode"
            @input="$emit('input')"
            :disabled="!minorEdit"
          >
          </b-input>
        </b-field>
      </div>
      <!-- city field -->
      <div class="column">
        <b-field label="Gemeente">
          <b-input
            v-if="person.address !== undefined"
            v-model="person.address.city"
            @input="$emit('input')"
            :disabled="!minorEdit"
          >
          </b-input>
        </b-field>
      </div>
    </div>
    <!-- Groups -->
    <h2 class="subtitle">Werking</h2>
    <div class="columns">
      <div class="column">
        <section>
          <b-field label="Groep(en)">
            <b-taginput
              v-model="person.groups"
              :data="groups"
              :disabled="!fullEdit || userIsParent"
              autocomplete
              field="title"
              icon="label"
              placeholder="Voeg een groep toe"
              :allow-duplicates="false"
              @input="removeDoubleGroups"
            ></b-taginput>
          </b-field>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { Container, Group } from '@/lib/UsersPack';
import DatePicker from '@/components/DatePicker.vue';
import getGroupsOfPerson from '@/api/groups';
import Person from '@/lib/Person';

@Component({
  components: {
    DatePicker,
  },
})
export default class PersonDataForm extends Vue {
  groups: Group[] = [];
  newPhoneNumber: string = '';

  @Prop() person: Person|undefined;
  @Prop() fullEdit!: boolean;
  @Prop() minorEdit!: boolean;

  dateContainer: Container<Date|undefined> = new Container(undefined);

  removeDoubleGroups(): void {
    if (this.person === undefined) {
      return;
    }

    const groupsWithoutDoubles: Group[] = [];
    if (this.person.groups === undefined) {
      throw Error('Given person is undefined');
    }

    for (let i:number = 0; i < Object.keys(this.person.groups).length; i += 1) {
      let unique:boolean = true;
      for (let j:number = 0; j < Object.keys(groupsWithoutDoubles).length; j += 1) {
        if (this.person.groups[i].title === groupsWithoutDoubles[j].title) {
          unique = false;
        }
      }
      if (unique) {
        groupsWithoutDoubles.push(this.person.groups[i]);
      }
    }
    this.person.groups = JSON.parse(JSON.stringify(groupsWithoutDoubles));
  }

  async loadGroups(): Promise<void> {
    this.groups = await getGroupsOfPerson();
  }

  get userIsLeader(): boolean {
    return this.$store.getters.userIsLeader;
  }

  get userIsParent(): boolean {
    return this.$store.getters.userIsParent;
  }

  mounted() {
    this.loadGroups();
    if (this.person !== undefined) {
      this.dateContainer.set(this.person.dateOfBirth);
    }
  }

  @Watch('person')
  onPersonChanged(oldPerson: Person|undefined, newPerson: Person|undefined): void {
    this.dateContainer.set(this.person!.dateOfBirth);
  }

  @Watch('person.dateOfBirth')
  onDateOfBirthChanged(oldPerson: Person|undefined, newPerson: Person|undefined): void {
    this.dateContainer.set(this.person!.dateOfBirth);
  }

  @Watch('dateContainer.v')
  onDateOfContainerChanged(oldDate: Date|undefined, newDate: Date|undefined): void {
    this.person!.dateOfBirth = this.dateContainer.v;
  }
}
</script>
