<template>
  <div style="height: -moz-available; height: -webkit-fill-available;">
    <!-- Title-field -->
    <b-field custom-class="is-large">
        <b-input v-model="title.v" size="is-large"></b-input>
    </b-field>
    <div class="columns" style="height: -moz-available; height: -webkit-fill-available;">
      <div class="column is-6">
        <!-- Editor -->
        <b-field>
          <b-input
          type="textarea"
          placeholder="Typ hier je verslag"
          v-model="content.v">
          </b-input>
        </b-field>
      </div>
      <!-- Report viewer -->
      <div class="column is-6">
        <ReportViewer :source="content.v"></ReportViewer>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import saveReport from '@/api/saveReport';
import ReportViewer from '@/components/ReportViewer.vue';
import { Container } from '@/lib/UsersPack';


@Component({
  components: {
    ReportViewer,
  },
})
export default class ReportEditor extends Vue {
  @Prop() content!: Container<string>;
  @Prop() title!: Container<string>;
}
</script>
