<template>
  <div
    class="box"
    style="border-radius: 0px;"
  >
    <h2 class="subtitle">Filter</h2>
    <!-- Field to search on name -->
    <b-field label="Bestandsnaam">
      <b-input
        v-model="nameQuery.v"
        placeholder="Bestandsnaam"
        @input="$emit('input')"
      ></b-input>
    </b-field>
    <!-- Field to search from a date -->
    <b-field label="zoeken vanaf">
      <DatePicker
        :dateContainer="fromDate"
        @input="$emit('input')"
      />
    </b-field>
    <!-- Field to search till a date -->
    <b-field label="zoeken tot">
      <DatePicker
        :dateContainer="toDate"
        @input="$emit('input')"
      />
    </b-field>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';
import DatePicker from '@/components/DatePicker.vue';

@Component({
  components: {
    DatePicker,
  },
})
export default class ReportsFilter extends Vue {
  @Prop() nameQuery!: Container<string>;
  @Prop() fromDate!: Container<Date>;
  @Prop() toDate!: Container<Date>;
}
</script>
