<template>
  <div>
    <h1 class="title">Verslagen</h1>
    <b-table
      :data="reports"
      :columns="columns"
      :hoverable="true"
      @update:selected="reportClicked"
      :paginated="true"
      :per-page="10"
      :default-sort="'dateString'"
      :default-sort-direction="'DESC'"
    ></b-table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { ReportMin } from '@/lib/Report';

interface Column {
  field: string;
  label: string;
  sortable: boolean;
}

@Component
export default class ReportsTable extends Vue {
  @Prop() reports!: ReportMin[];

  columns: Column[] = [{
    field: 'reportName',
    label: 'Naam',
    sortable: true,
  },
  {
    field: 'writtenByName',
    label: 'Geschreven door',
    sortable: true,
  },
  {
    field: 'dateString',
    label: 'Datum',
    sortable: true,
  },
  ]

  reportClicked(report: ReportMin) {
    this.$router.push(`/report/view/${report.id}`);
  }
}
</script>
