<template>
  <div class="content box" style="height: 100%; border-radius: 2px; overflow-y: scroll;">
    <vue-markdown :source="source"></vue-markdown>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import VueMarkdown from 'vue-markdown';

@Component({
  components: {
    VueMarkdown,
  },
})
export default class ReportViewer extends Vue {
  @Prop() source!: string;
}
</script>
