<template>
  <b-field :label="label">
    <b-input type="text" v-model="query.v" @input="$emit('input');" icon="magnify"></b-input>
  </b-field>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';

@Component
export default class SearchField extends Vue {
  @Prop() query!:Container<string>;
  @Prop() label!:string;
}
</script>
