<template>
  <div :class="'tile is-parent ' + tileSize">
    <a
      v-if="tileId === '#'"
      class="tile is-child box section is-size-4 has-text-centered"
      @click="onclick"
    >{{ title }}</a>
    <router-link
      v-else
      class="tile is-child box section is-size-4 has-text-centered"
      :to="{ name: baseRoute, params: { id: tileId }}"
    >{{ title }}</router-link>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class Tile extends Vue {
    @Prop(String) tileSize!: string;
    @Prop(String) baseRoute!: string;
    // This is a string as we want to allow '#' for non-links.
    @Prop(String) tileId!: string;
    @Prop(String) title!: string;
    @Prop(Function) onclick!: Function;
}
</script>


<style scoped>
</style>
