<template>
  <div id="userTable">
    <h1 class="title">{{title}}</h1>
    <b-table
      :data="filteredUsers"
      :columns="columns"
      :hoverable="true"
      @update:selected="memberClicked"
    ></b-table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { PersonMin } from '@/lib/UsersPack';

interface Column {
  field: string;
  label: string;
  sortable: boolean;
}

@Component
export default class UsersTable extends Vue {
  @Prop() title!: string;
  @Prop() filteredUsers!:PersonMin[];
  @Prop() columns!: Column[];

  memberClicked(clickedPerson:PersonMin) : void {
    this.$router.push(`/person/${clickedPerson.id}`);
  }
}
</script>
