<template>
  <div class="box">
    <h2 class="subtitle">Filter</h2>
    <!-- search-field -->
    <SearchField :query="filterQuery" label="Zoeken" @input="$emit('input')"/>
    <!-- group selector -->
    <!--<GroupSelector
      :groupNames="groupNames"
      :selectedGroupNames="selectedGroups"
      label="Groepen"
      @input="$emit('input')"
    />-->
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Container } from '@/lib/UsersPack';

import SearchField from '@/components/SearchField.vue';
import GroupSelector from '@/components/GroupSelector.vue';

@Component({
  components: {
    SearchField,
    GroupSelector,
  },
})

export default class UserFilter extends Vue {
  @Prop() filterQuery!:Container<string>;
  @Prop() groupNames!:string[];
  @Prop() selectedGroups!:Container<string[]>;
  buh:string[] = [];
}
</script>

<style scoped>
.checkbox {
  width: 100% !important;
  margin-left: 0px !important;
}
</style>

